<!DOCTYPE html>
<html>
    <head>
        <link href="./img/favicon.png" rel="shortcut icon"/>
        <meta charset="utf-8"/>
        <meta content="width=1440px, maximum-scale=1.0" name="viewport"/>
        <link href="./css/mycontentedit.css" rel="stylesheet" type="text/css"/>
        <meta content="Launchpad by Anima" name="author">
        </meta>
    </head>
    <body style="margin: 0;
 background: rgba(255, 255, 255, 1.0);">
        <input id="anPageName" name="page" type="hidden" value="mycontentedit"/>
        <div class="mycontentedit">
            <div style="width: 1440px; height: 100%; position:relative; margin:auto;">
                <div class="base">
                </div>
                <div class="footer">
                    <div class="bottom">
                        <div class="text">
                            利用規約
                        </div>
                        <div class="text1">
                            プライバシーポリシー
                        </div>
                        <div class="sns">
                            <a href="https://www.facebook.com/Edopen-173209583226693/" target="_blank">
                                <div class="fb">
                                    <img anima-src="./img/listingpreview-oval@2x.png" class="oval" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    <img anima-src="./img/mycontenteditpreview-stroke-87 1@2x.png" class="stroke87" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                            </a>
                            <div class="ig">
                                <img anima-src="./img/listingpreview-oval@2x.png" class="oval" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <div class="insta">
                                    <img anima-src="./img/user001following-stroke-38@2x.png" class="stroke38" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    <img anima-src="./img/indexnonside-stroke-40@2x.png" class="stroke40" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    <img anima-src="./img/mycontentedit-stroke-42@2x.png" class="stroke42" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                            </div>
                            <a href="https://twitter.com/_edopen" target="_blank">
                                <div class="tw">
                                    <div class="group3">
                                        <img anima-src="./img/listingpreview-oval@2x.png" class="oval" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    </div>
                                    <img anima-src="./img/contentbought-stroke-89 1@2x.png" class="stroke89" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                            </a>
                        </div>
                        <div class="copywrite">
                            © 2018. EDOPEN
                        </div>
                    </div>
                    <div class="line4">
                    </div>
                    <div class="menus">
                        <div class="text">
                            運営
                        </div>
                        <div class="text1">
                            広告出稿
                        </div>
                        <div class="text2">
                            Q&amp;A
                        </div>
                        <div class="text3">
                            お知らせ
                        </div>
                        <div class="text4">
                            EDOPEN の使い方
                        </div>
                        <div class="text5">
                            EDOPEN について
                        </div>
                    </div>
                    <div class="line11">
                    </div>
                </div>
                <div class="listingbase">
                </div>
                <div class="btns">
                    <div class="h2">
                        削除する
                    </div>
                    <div class="h21">
                        非公開にする
                    </div>
                </div>
                <a href="mycontent.html">
                    <div class="btnreturn">
                        <div class="btnarea">
                        </div>
                        <div class="text">
                            もどる
                        </div>
                    </div>
                </a>
                <a href="mycontenteditpreview.html">
                    <div class="btnbuy">
                        <div class="btnarea">
                        </div>
                        <div class="text">
                            更新する
                            <br/>
                        </div>
                    </div>
                </a>
                <div class="price">
                    <div class="input">
                    </div>
                    <div class="priceex">
                        300
                    </div>
                    <div class="price1">
                        ¥
                    </div>
                    <div class="h2">
                        販売価格
                    </div>
                </div>
                <img anima-src="./img/listing-line 2.png" class="line" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="contentinfo">
                    <div class="contentinfo1">
                        <div class="input">
                        </div>
                        <div class="text">
                            もうすぐ秋ですね。そろそろ基礎の勉強も落ち着き、語彙力を高める時期に入る学校が多いのではないのでしょうか。
                            <br/>
                            この期にフィールドワークにでも出かけながら、秋のことばを増やしましょう！
                            <br/>
                            <br/>
                            想定生徒：N3まで修了済み
                            <br/>
                            <br/>
                            本教材は、以下が含まれます。
                            <br/>
                            ①会話例を載せた語彙シート
                            <br/>
                            ②フィールドワークで使える語彙チェックシート
                            <br/>
                            ③確認テスト
                            <br/>
                            <br/>
                            誤字・脱字等あればご報告ください。
                            <br/>
                            よろしくお願いします。
                        </div>
                    </div>
                    <div class="h2">
                        教材の詳細説明
                    </div>
                    <div class="contentname">
                        <div class="input">
                        </div>
                        <div class="text">
                            秋のことばを学ぶ。新語彙50個追加！
                        </div>
                    </div>
                    <div class="h21">
                        教材名
                    </div>
                </div>
                <img anima-src="./img/listing-line 2.png" class="line1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="contentfile">
                    <div class="p">
                        最大4つまでアップロードできます
                    </div>
                    <div class="h2">
                        教材ファイル
                    </div>
                    <div class="contentarea">
                    </div>
                    <div class="content04">
                        <div class="icclose24px">
                            <img anima-src="./img/mycontentedit-icclose24px 1@2x.png" class="icclose24px1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="btn-view">
                            <div class="btnarea">
                            </div>
                            <div class="text">
                                変更/追加
                            </div>
                        </div>
                        <div class="contentname">
                            おまけ.png
                        </div>
                        <div class="num">
                            4
                        </div>
                    </div>
                    <div class="content03">
                        <div class="icclose24px">
                            <img anima-src="./img/mycontentedit-icclose24px 1@2x.png" class="icclose24px1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="btn-view">
                            <div class="btnarea">
                            </div>
                            <div class="text">
                                変更/追加
                            </div>
                        </div>
                        <div class="contentname">
                            テスト.pdf
                        </div>
                        <div class="num">
                            3
                        </div>
                    </div>
                    <div class="content02">
                        <div class="icclose24px">
                            <img anima-src="./img/mycontentedit-icclose24px 1@2x.png" class="icclose24px1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="btn-view">
                            <div class="btnarea">
                            </div>
                            <div class="text">
                                変更/追加
                            </div>
                        </div>
                        <div class="contentname">
                            用語集.pdf
                        </div>
                        <div class="num">
                            2
                        </div>
                    </div>
                    <div class="content01">
                        <div class="icclose24px">
                            <img anima-src="./img/mycontentedit-icclose24px 1@2x.png" class="icclose24px1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="btn-view">
                            <div class="btnarea">
                            </div>
                            <div class="text">
                                変更/追加
                            </div>
                        </div>
                        <div class="contentname">
                            ワークシート.pdf
                        </div>
                        <div class="num">
                            1
                        </div>
                    </div>
                </div>
                <img anima-src="./img/listing-line 2.png" class="line2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="contentimg">
                    <div class="p">
                        最大4枚までアップロードできます
                    </div>
                    <div class="h2">
                        教材イメージ
                    </div>
                    <div class="imgs">
                        <div class="img4">
                            <div class="mask">
                            </div>
                            <img anima-src="./img/mycontent-c42c88b74a89215d4ef9fa381811ddc9@2x.png" class="c42c88b74a89215d4ef9fa381811ddc9" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <div class="cover">
                            </div>
                            <div class="iccameraalt24px">
                                <img anima-src="./img/mycontentedit-iccameraalt24px 2@2x.png" class="iccameraalt24px1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                        <div class="img3">
                            <div class="mask">
                            </div>
                            <img anima-src="./img/content001-5cef9227855e42f99c1610db4d5e474bdece1a1c@2x.png" class="a5cef9227855e42f99c1610db4d5e474bdece1a1c" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <div class="rectangle8">
                            </div>
                            <div class="cover">
                            </div>
                            <div class="iccameraalt24px">
                                <img anima-src="./img/mycontentedit-iccameraalt24px 2@2x.png" class="iccameraalt24px1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                        <div class="img2">
                            <div class="mask">
                            </div>
                            <img anima-src="./img/contentbought-mainimg.png" class="mainimg" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <div class="cover">
                            </div>
                            <div class="iccameraalt24px">
                                <img anima-src="./img/mycontentedit-iccameraalt24px 2@2x.png" class="iccameraalt24px1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                        <div class="imgmain">
                            <div class="mask">
                            </div>
                            <img anima-src="./img/contentbought-pexels-photo-355302 2.png" class="pexelsphoto355302" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <div class="cover">
                            </div>
                            <div class="iccameraalt24px">
                                <img anima-src="./img/mycontentedit-iccameraalt24px 2@2x.png" class="iccameraalt24px1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                    </div>
                </div>
                <img anima-src="./img/mycontentedit-line 3.png" class="line3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="h1">
                    教材の情報を編集する
                </div>
                <img anima-src="./img/mycontentedit-logoedopen@2x.png" class="logoedopen" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            </div>
        </div>
        <!-- Scripts -->
        <script>
            anima_isHidden = function(e) {
                if (!(e instanceof HTMLElement)) return !1;
                if (getComputedStyle(e).display == "none") return !0; else if (e.parentNode && anima_isHidden(e.parentNode)) return !0;
                return !1;
            };
            anima_loadAsyncSrcForTag = function(tag) {
                var elements = document.getElementsByTagName(tag);
                var toLoad = [];
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var src = e.getAttribute("src");
                    var loaded = (src != undefined && src.length > 0 && src != 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
                    if (loaded) continue;
                    var asyncSrc = e.getAttribute("anima-src");
                    if (asyncSrc == undefined || asyncSrc.length == 0) continue;
                    if (anima_isHidden(e)) continue;
                    toLoad.push(e);
                }
                toLoad.sort(function(a, b) {
                    return anima_getTop(a) - anima_getTop(b);
                });
                for (var i = 0; i < toLoad.length; i++) {
                    var e = toLoad[i];
                    var asyncSrc = e.getAttribute("anima-src");
                    e.setAttribute("src", asyncSrc);
                }
            };
            anima_pauseHiddenVideos = function(tag) {
                var elements = document.getElementsByTagName("video");
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var isPlaying = !!(e.currentTime > 0 && !e.paused && !e.ended && e.readyState > 2);
                    var isHidden = anima_isHidden(e);
                    if (!isPlaying && !isHidden && e.getAttribute("autoplay") == "autoplay") {
                        e.play();
                    } else if (isPlaying && isHidden) {
                        e.pause();
                    }
                }
            };
            anima_loadAsyncSrc = function(tag) {
                anima_loadAsyncSrcForTag("img");
                anima_loadAsyncSrcForTag("iframe");
                anima_loadAsyncSrcForTag("video");
                anima_pauseHiddenVideos();
            };
            var anima_getTop = function(e) {
                var top = 0;
                do {
                    top += e.offsetTop || 0;
                    e = e.offsetParent;
                } while (e);
                return top;
            };
            anima_loadAsyncSrc();
            anima_old_onResize = window.onresize;
            anima_new_onResize = undefined;
            anima_updateOnResize = function() {
                if (anima_new_onResize == undefined || window.onresize != anima_new_onResize) {
                    anima_new_onResize = function(x) {
                        if (anima_old_onResize != undefined) anima_old_onResize(x);
                        anima_loadAsyncSrc();
                    };
                    window.onresize = anima_new_onResize;
                    setTimeout(function() {
                        anima_updateOnResize();
                    }, 3000);
                }
            };
            anima_updateOnResize();
            setTimeout(function() {
                anima_loadAsyncSrc();
            }, 200);
        </script>
        <!-- End of Scripts -->
    </body>
</html>
