@import url('https://fonts.googleapis.com/css?family=Roboto:500');

@font-face {
  font-family: "SFProDisplay-Bold";
  src: url('../fonts/SF-Pro-Display-Bold.otf') format("opentype");
}

.mypageprofedit {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 1392px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.mypageprofedit .headerindex {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 90px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mypageprofedit .headerindex .area {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 90px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mypageprofedit .headerindex .menus {
  background-color    : rgba(255,255,255,0.0);
  top                 : 25px;
  height              : 25px;
  width               : 275px;
  position            : absolute;
  margin              : 0;
  left                : 594px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mypageprofedit .headerindex .menus .menu {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 71px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HiraginoSans-W4", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(17, 17, 17, 1.0);
  text-align          : center;
  line-height         : 25.0px;
}
.mypageprofedit .headerindex .menus .menu1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HiraginoSans-W6", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(45, 158, 218, 1.0);
  text-align          : center;
  line-height         : 25.0px;
}
.mypageprofedit .headerindex .menus .menu2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 25px;
  width               : 103px;
  position            : absolute;
  margin              : 0;
  left                : 172px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mypageprofedit .headerindex .menus .menu2 .menu3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HiraginoSans-W4", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(17, 17, 17, 1.0);
  text-align          : center;
  line-height         : 25.0px;
}
.mypageprofedit .headerindex .menus .menu2 .notification {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6px;
  height              : 8px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 94px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mypageprofedit .headerindex .menus .menu2 .notification .notification1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 8px;
  width               : 8px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mypageprofedit .headerindex .search {
  background-color    : rgba(255,255,255,0.0);
  top                 : 25px;
  height              : 32px;
  width               : 147px;
  position            : absolute;
  margin              : 0;
  left                : 203px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mypageprofedit .headerindex .search .icsearch24px {
  background-color    : rgba(255,255,255,0.0);
  top                 : 11px;
  height              : 18px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mypageprofedit .headerindex .search .icsearch24px .icsearch24px1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 18px;
  width               : 18px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mypageprofedit .headerindex .search .text {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 42px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HiraginoSans-W4", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(116, 116, 116, 1.0);
  text-align          : left;
  line-height         : 25.0px;
}
.mypageprofedit .headerindex .notifications {
  background-color    : rgba(255,255,255,0.0);
  top                 : 35px;
  height              : 20px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 1257px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mypageprofedit .headerindex .notifications .notifications1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 16px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mypageprofedit .headerindex .icexpandmore24px {
  background-color    : rgba(255,255,255,0.0);
  top                 : 41px;
  height              : 8px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 1369px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mypageprofedit .headerindex .icexpandmore24px .icexpandmore24px1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 8px;
  width               : 12px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mypageprofedit .headerindex .overridesavatar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 21px;
  height              : 52px;
  width               : 52px;
  position            : absolute;
  margin              : 0;
  left                : 1299px;
  border-radius       : 26px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mypageprofedit .headerindex .overridesavatar .mask {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 52px;
  width               : 52px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mypageprofedit .headerindex .overridesavatar .avatar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 40px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 6px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mypageprofedit .headerindex .btnupload {
  background-color    : rgba(255,255,255,0.0);
  top                 : 25px;
  height              : 40px;
  width               : 164px;
  position            : absolute;
  margin              : 0;
  left                : 1062px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mypageprofedit .headerindex .btnupload .btnarea {
  background-color    : rgba(45, 158, 218, 1.0);
  top                 : 0px;
  height              : 40px;
  width               : 164px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 20px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mypageprofedit .headerindex .btnupload .icbackup24px {
  background-color    : rgba(255,255,255,0.0);
  top                 : 13px;
  height              : 14px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mypageprofedit .headerindex .btnupload .icbackup24px .icbackup24px1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 14px;
  width               : 20px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mypageprofedit .headerindex .btnupload .text {
  background-color    : rgba(255,255,255,0.0);
  top                 : 13px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 60px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HiraginoSans-W4", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.mypageprofedit .headerindex .logoedopen {
  background-color    : rgba(255,255,255,0.0);
  top                 : 25px;
  height              : 40px;
  width               : 89px;
  position            : absolute;
  margin              : 0;
  left                : 81px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mypageprofedit .headerindex .icmenu24px {
  background-color    : rgba(255,255,255,0.0);
  top                 : 39px;
  height              : 12px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mypageprofedit .headerindex .icmenu24px .icmenu24px1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 12px;
  width               : 18px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mypageprofedit .userinfo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 90px;
  height              : 257px;
  width               : 1170px;
  position            : absolute;
  margin              : 0;
  left                : 135px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mypageprofedit .userinfo .bass {
  background-color    : rgba(249, 249, 249, 1.0);
  top                 : 0px;
  height              : 257px;
  width               : 1170px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mypageprofedit .userinfo .textn1n {
  background-color    : rgba(255,255,255,0.0);
  top                 : 114px;
  height              : 48px;
  width               : 882px;
  position            : absolute;
  margin              : 0;
  left                : 245px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HiraginoSans-W6", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(128, 128, 128, 1.0);
  text-align          : left;
  line-height         : 36.0px;
  border              : 0;
}
.mypageprofedit .userinfo .textn1n::placeholder {
  color               : rgba(128, 128, 128, 0.6);
}
.mypageprofedit .userinfo .username {
  background-color    : rgba(255,255,255,0.0);
  top                 : 45px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 245px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HiraginoSans-W6", Helvetica, Arial, serif;
  font-size           : 48.0px;
  color               : rgba(17, 17, 17, 1.0);
  text-align          : left;
  line-height         : 72.0px;
}
.mypageprofedit .userinfo .userimg {
  background-color    : rgba(255,255,255,0.0);
  top                 : 45px;
  height              : 180px;
  width               : 180px;
  position            : absolute;
  margin              : 0;
  left                : 45px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mypageprofedit .userinfo .userimgcover {
  background-color    : rgba(255,255,255,0.0);
  top                 : 45px;
  height              : 180px;
  width               : 180px;
  position            : absolute;
  margin              : 0;
  left                : 45px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mypageprofedit .userinfo .userimgcover .userimgcover1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 180px;
  width               : 180px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mypageprofedit .userinfo .userimgcover .iccameraalt24px {
  background-color    : rgba(255,255,255,0.0);
  top                 : 82px;
  height              : 16px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 82px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mypageprofedit .userinfo .userimgcover .iccameraalt24px .iccameraalt24px1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 16px;
  width               : 16px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mypageprofedit .userinfo .btnsave {
  background-color    : rgba(255,255,255,0.0);
  top                 : 182px;
  height              : 48px;
  width               : 252px;
  position            : absolute;
  margin              : 0;
  left                : 245px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mypageprofedit .userinfo .btnsave .btnarea {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 48px;
  width               : 252px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 24px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(45, 158, 218, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mypageprofedit .userinfo .btnsave .text {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 101px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HiraginoSans-W6", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(45, 158, 218, 1.0);
  text-align          : center;
  line-height         : 36.0px;
}
.mypageprofedit .userinfo .btncancel {
  background-color    : rgba(255,255,255,0.0);
  top                 : 182px;
  height              : 48px;
  width               : 252px;
  position            : absolute;
  margin              : 0;
  left                : 527px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mypageprofedit .userinfo .btncancel .btnarea {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 48px;
  width               : 252px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 24px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(128, 128, 128, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.mypageprofedit .userinfo .btncancel .text {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 65px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HiraginoSans-W6", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(128, 128, 128, 1.0);
  text-align          : center;
  line-height         : 36.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}