@import url('https://fonts.googleapis.com/css?family=Roboto:500');

@font-face {
  font-family: "SFProDisplay-Bold";
  src: url('../fonts/SF-Pro-Display-Bold.otf') format("opentype");
}

.setting {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 1530px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.setting .security {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1175px;
  height              : 110px;
  width               : 892px;
  position            : absolute;
  margin              : 0;
  left                : 274px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.setting .security .btn-view {
  background-color    : rgba(255,255,255,0.0);
  top                 : 62px;
  height              : 48px;
  width               : 252px;
  position            : absolute;
  margin              : 0;
  left                : 640px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.setting .security .btn-view .btnarea {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 48px;
  width               : 252px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 24px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(128, 128, 128, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.setting .security .btn-view .text1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 41px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HiraginoSans-W6", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(128, 128, 128, 1.0);
  text-align          : center;
  line-height         : 36.0px;
}
.setting .security .text {
  background-color    : rgba(255,255,255,0.0);
  top                 : 74px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HiraginoSans-W6", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  letter-spacing      : 0.29px;
  line-height         : 30.0px;
}
.setting .security .line {
  background-color    : rgba(255,255,255,0.0);
  top                 : 54px;
  height              : 2px;
  width               : 892px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.setting .security .h2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HiraginoSans-W6", Helvetica, Arial, serif;
  font-size           : 27.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 0.35px;
  line-height         : 41.0px;
}
.setting .creditinfo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 909px;
  height              : 166px;
  width               : 892px;
  position            : absolute;
  margin              : 0;
  left                : 274px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.setting .creditinfo .btn-view {
  background-color    : rgba(255,255,255,0.0);
  top                 : 118px;
  height              : 48px;
  width               : 252px;
  position            : absolute;
  margin              : 0;
  left                : 282px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.setting .creditinfo .btn-view .btnarea {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 48px;
  width               : 252px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 24px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(128, 128, 128, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.setting .creditinfo .btn-view .text {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HiraginoSans-W6", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(128, 128, 128, 1.0);
  text-align          : center;
  line-height         : 36.0px;
}
.setting .creditinfo .btn1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 118px;
  height              : 48px;
  width               : 252px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.setting .creditinfo .btn1 .btnarea {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 48px;
  width               : 252px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 24px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(128, 128, 128, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.setting .creditinfo .btn1 .text {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 5px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HiraginoSans-W6", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(128, 128, 128, 1.0);
  text-align          : center;
  line-height         : 36.0px;
}
.setting .creditinfo .credit {
  background-color    : rgba(255,255,255,0.0);
  top                 : 74px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HiraginoSans-W6", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(128, 128, 128, 1.0);
  text-align          : center;
  line-height         : 30.0px;
}
.setting .creditinfo .line {
  background-color    : rgba(255,255,255,0.0);
  top                 : 54px;
  height              : 2px;
  width               : 892px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.setting .creditinfo .h2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HiraginoSans-W6", Helvetica, Arial, serif;
  font-size           : 27.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 0.35px;
  line-height         : 41.0px;
}
.setting .cooperation {
  background-color    : rgba(255,255,255,0.0);
  top                 : 515px;
  height              : 308px;
  width               : 892px;
  position            : absolute;
  margin              : 0;
  left                : 274px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.setting .cooperation .snsshow {
  background-color    : rgba(255,255,255,0.0);
  top                 : 260px;
  height              : 48px;
  width               : 892px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.setting .cooperation .snsshow .switchbtn {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 48px;
  width               : 252px;
  position            : absolute;
  margin              : 0;
  left                : 640px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.setting .cooperation .snsshow .switchbtn .btnarea {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 48px;
  width               : 252px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 24px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(128, 128, 128, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.setting .cooperation .snsshow .switchbtn .text {
  background-color    : rgba(255,255,255,0.0);
  top                 : 12px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 132px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HiraginoSans-W6", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(128, 128, 128, 1.0);
  text-align          : center;
  line-height         : 36.0px;
}
.setting .cooperation .snsshow .switchbtn .text1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 12px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 24px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HiraginoSans-W6", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(26, 167, 125, 1.0);
  text-align          : center;
  line-height         : 36.0px;
}
.setting .cooperation .snsshow .switchbtn .path4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 40px;
  height              : 2px;
  width               : 72px;
  position            : absolute;
  margin              : 0;
  left                : 25px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.setting .cooperation .snsshow .snsshow1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SFProDisplay-Bold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  letter-spacing      : 0.29px;
  line-height         : 24.0px;
}
.setting .cooperation .line {
  background-color    : rgba(255,255,255,0.0);
  top                 : 250px;
  height              : 2px;
  width               : 892px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.setting .cooperation .fb {
  background-color    : rgba(255,255,255,0.0);
  top                 : 173px;
  height              : 59px;
  width               : 892px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.setting .cooperation .fb .btndelete {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6px;
  height              : 48px;
  width               : 252px;
  position            : absolute;
  margin              : 0;
  left                : 640px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.setting .cooperation .fb .btndelete .btnarea {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 48px;
  width               : 252px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 24px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(128, 128, 128, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.setting .cooperation .fb .btndelete .text {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 101px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HiraginoSans-W6", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(128, 128, 128, 1.0);
  text-align          : center;
  line-height         : 36.0px;
}
.setting .cooperation .fb .fb1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 59px;
  width               : 120px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.setting .cooperation .fb .fb1 .account {
  background-color    : rgba(255,255,255,0.0);
  top                 : 34px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(127, 127, 127, 1.0);
  text-align          : center;
  line-height         : 25.0px;
}
.setting .cooperation .fb .fb1 .fb2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SFProDisplay-Bold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  letter-spacing      : 0.29px;
  line-height         : 24.0px;
}
.setting .cooperation .line1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 153px;
  height              : 2px;
  width               : 892px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.setting .cooperation .tw {
  background-color    : rgba(255,255,255,0.0);
  top                 : 74px;
  height              : 59px;
  width               : 892px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.setting .cooperation .tw .btndelete {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6px;
  height              : 48px;
  width               : 252px;
  position            : absolute;
  margin              : 0;
  left                : 640px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.setting .cooperation .tw .btndelete .btnarea {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 48px;
  width               : 252px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 24px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(128, 128, 128, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.setting .cooperation .tw .btndelete .text {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 101px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HiraginoSans-W6", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(128, 128, 128, 1.0);
  text-align          : center;
  line-height         : 36.0px;
}
.setting .cooperation .tw .tw1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 59px;
  width               : 94px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.setting .cooperation .tw .tw1 .tw2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SFProDisplay-Bold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  letter-spacing      : 0.29px;
  line-height         : 24.0px;
}
.setting .cooperation .tw .tw1 .account {
  background-color    : rgba(255,255,255,0.0);
  top                 : 34px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(127, 127, 127, 1.0);
  text-align          : center;
  line-height         : 25.0px;
}
.setting .cooperation .line2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 54px;
  height              : 2px;
  width               : 892px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.setting .cooperation .h2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HiraginoSans-W6", Helvetica, Arial, serif;
  font-size           : 27.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 0.35px;
  line-height         : 41.0px;
}
.setting .email {
  background-color    : rgba(255,255,255,0.0);
  top                 : 281px;
  height              : 134px;
  width               : 892px;
  position            : absolute;
  margin              : 0;
  left                : 274px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.setting .email .email1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 75px;
  height              : 59px;
  width               : 892px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.setting .email .email1 .btnedit {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6px;
  height              : 48px;
  width               : 252px;
  position            : absolute;
  margin              : 0;
  left                : 640px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.setting .email .email1 .btnedit .btnarea {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 48px;
  width               : 252px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 24px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(128, 128, 128, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.setting .email .email1 .btnedit .text1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 101px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HiraginoSans-W6", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(128, 128, 128, 1.0);
  text-align          : center;
  line-height         : 36.0px;
}
.setting .email .email1 .adress {
  background-color    : rgba(255,255,255,0.0);
  top                 : 34px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(127, 127, 127, 1.0);
  text-align          : center;
  line-height         : 25.0px;
}
.setting .email .email1 .text {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SFProDisplay-Bold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  letter-spacing      : 0.29px;
  line-height         : 24.0px;
}
.setting .email .line {
  background-color    : rgba(255,255,255,0.0);
  top                 : 53px;
  height              : 2px;
  width               : 892px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.setting .email .h2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SFProDisplay-Bold", Helvetica, Arial, serif;
  font-size           : 27.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 0.35px;
  line-height         : 34.0px;
}
.setting .h1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 185px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 274px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HiraginoSans-W6", Helvetica, Arial, serif;
  font-size           : 46.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  letter-spacing      : 0.55px;
  line-height         : 69.0px;
}
.setting .headerindex {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 90px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.setting .headerindex .area {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 90px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.setting .headerindex .menus {
  background-color    : rgba(255,255,255,0.0);
  top                 : 25px;
  height              : 25px;
  width               : 274px;
  position            : absolute;
  margin              : 0;
  left                : 594px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.setting .headerindex .menus .menu {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 71px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HiraginoSans-W4", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(17, 17, 17, 1.0);
  text-align          : center;
  line-height         : 25.0px;
}
.setting .headerindex .menus .menu1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HiraginoSans-W6", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(45, 158, 218, 1.0);
  text-align          : center;
  line-height         : 25.0px;
}
.setting .headerindex .menus .menu2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 25px;
  width               : 102px;
  position            : absolute;
  margin              : 0;
  left                : 172px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.setting .headerindex .menus .menu2 .menu3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HiraginoSans-W4", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(17, 17, 17, 1.0);
  text-align          : center;
  line-height         : 25.0px;
}
.setting .headerindex .menus .menu2 .notification {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6px;
  height              : 8px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 94px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.setting .headerindex .search {
  background-color    : rgba(255,255,255,0.0);
  top                 : 25px;
  height              : 29px;
  width               : 144px;
  position            : absolute;
  margin              : 0;
  left                : 206px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.setting .headerindex .search .icsearch24px {
  background-color    : rgba(255,255,255,0.0);
  top                 : 11px;
  height              : 18px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.setting .headerindex .search .text {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 39px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HiraginoSans-W4", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(116, 116, 116, 1.0);
  text-align          : left;
  line-height         : 25.0px;
}
.setting .headerindex .notifications {
  background-color    : rgba(255,255,255,0.0);
  top                 : 35px;
  height              : 20px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 1257px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.setting .headerindex .icexpandmore24px {
  background-color    : rgba(255,255,255,0.0);
  top                 : 41px;
  height              : 8px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 1369px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.setting .headerindex .overridesavatar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 21px;
  height              : 52px;
  width               : 52px;
  position            : absolute;
  margin              : 0;
  left                : 1299px;
  border-radius       : 26px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.setting .headerindex .overridesavatar .mask {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 52px;
  width               : 52px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.setting .headerindex .overridesavatar .avatar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 40px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 6px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.setting .headerindex .btnupload {
  background-color    : rgba(255,255,255,0.0);
  top                 : 25px;
  height              : 40px;
  width               : 164px;
  position            : absolute;
  margin              : 0;
  left                : 1062px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.setting .headerindex .btnupload .btnarea {
  background-color    : rgba(45, 158, 218, 1.0);
  top                 : 0px;
  height              : 40px;
  width               : 164px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 20px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.setting .headerindex .btnupload .icbackup24px {
  background-color    : rgba(255,255,255,0.0);
  top                 : 13px;
  height              : 14px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.setting .headerindex .btnupload .text {
  background-color    : rgba(255,255,255,0.0);
  top                 : 13px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 60px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HiraginoSans-W4", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.setting .headerindex .logoedopen {
  background-color    : rgba(255,255,255,0.0);
  top                 : 25px;
  height              : 40px;
  width               : 89px;
  position            : absolute;
  margin              : 0;
  left                : 81px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.setting .headerindex .icmenu24px {
  background-color    : rgba(255,255,255,0.0);
  top                 : 39px;
  height              : 12px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}