<!DOCTYPE html>
<html>
    <head>
        <link href="./img/favicon.png" rel="shortcut icon"/>
        <meta charset="utf-8"/>
        <meta content="width=1440px, maximum-scale=1.0" name="viewport"/>
        <link href="./css/buycheck.css" rel="stylesheet" type="text/css"/>
        <meta content="Launchpad by Anima" name="author">
        </meta>
    </head>
    <body style="margin: 0;
 background: rgba(255, 255, 255, 1.0);">
        <input id="anPageName" name="page" type="hidden" value="buycheck"/>
        <div class="buycheck">
            <div style="width: 1440px; height: 100%; position:relative; margin:auto;">
                <div class="rectangle9">
                </div>
                <div class="u30d8u30c3u30c0u30fc">
                    <div class="u30d8u30c3u30c0u30fc1">
                        <div class="base">
                            <div class="typebase2">
                                <div class="mask">
                                </div>
                                <div class="u21b3basecolor">
                                    <div class="base1">
                                    </div>
                                </div>
                            </div>
                            <div class="typebase1">
                                <div class="mask">
                                </div>
                                <div class="u21b3basecolor">
                                    <div class="base1">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="icsearch24px">
                            <img anima-src="./img/user001following-icsearch24px@2x.png" class="icsearch24px1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="u30abu30c6u30b4u30eau30fc">
                            カテゴリー
                        </div>
                        <div class="u30d5u30a9u30edu30fcu30eau30b9u30c8">
                            フォローリスト
                        </div>
                        <div class="u30dbu30fcu30e0">
                            ホーム
                        </div>
                        <div class="notification">
                            <img anima-src="./img/user001following-notification@2x.png" class="notification1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="search">
                            <div class="u6559u6750u3092u691cu7d22u3059u308b">
                                教材を検索する..
                            </div>
                        </div>
                        <div class="notifications">
                            <img anima-src="./img/user001following-notifications@2x.png" class="notifications1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="icexpandmore24px">
                            <img anima-src="./img/user001following-icexpandmore24px@2x.png" class="icexpandmore24px1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <img anima-src="./img/user001following-logoedopen@2x.png" class="edopenu30edu30b3u3099u6c34u8272" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="overridesavatar">
                            <img anima-src="./img/user001following-mask@2x.png" class="mask" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="./img/user001following-avatar@2x.png" class="avatar" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="group2">
                            <div class="rectangle">
                            </div>
                            <div class="group">
                                <div class="icbackup24px">
                                    <img anima-src="./img/user001following-icbackup24px@2x.png" class="icbackup24px1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                                <div class="u6559u6750u3092u6295u7a3fu3059u308b">
                                    教材を投稿する
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="icmenu24px">
                        <img anima-src="./img/user001following-icmenu24px@2x.png" class="icmenu24px1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                    <div class="menu">
                    </div>
                </div>
                <div class="group4">
                    <div class="base">
                        <div class="typebase2">
                            <div class="mask">
                            </div>
                            <div class="u21b3basecolor">
                                <div class="base1">
                                </div>
                            </div>
                        </div>
                        <div class="typebase1">
                            <div class="mask">
                            </div>
                            <div class="u21b3basecolor">
                                <div class="base1">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pexelsphoto355302">
                        <div class="mask">
                        </div>
                        <img anima-src="./img/user001following-pexels-photo-355302.png" class="pexelsphoto3553021" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                    <div class="u79cbu306eu3053u3068u3070u3092u5b66u3076u3002">
                        秋のことばを学ぶ。
                    </div>
                    <div class="autor1">
                        <div class="byu80fdu5e74u73b2u5948">
                            by 能年 玲奈
                        </div>
                        <img anima-src="./img/user001following-autorimg@2x.png" class="a4b5d527b8c3f73c215848d60fc4e5722400x400" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                    <div class="a245600">
                        ¥600 -
                    </div>
                    <div class="u8a55u4fa11">
                        <div class="icstar24px">
                            <img anima-src="./img/user001following-icstar24px@2x.png" class="icstar24px4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="icstar24px1">
                            <img anima-src="./img/user001following-icstar24px@2x.png" class="icstar24px4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="icstar24px2">
                            <img anima-src="./img/user001following-icstar24px@2x.png" class="icstar24px4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="icstar24px3">
                            <img anima-src="./img/user001following-icstar24px@2x.png" class="icstar24px4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="icstarhalf24px">
                            <img anima-src="./img/user001following-icstarhalf24px@2x.png" class="icstarhalf24px1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                    </div>
                </div>
                <div class="group41">
                    <div class="base">
                        <div class="typebase2">
                            <div class="mask">
                            </div>
                            <div class="u21b3basecolor">
                                <div class="base1">
                                </div>
                            </div>
                        </div>
                        <div class="typebase1">
                            <div class="mask">
                            </div>
                            <div class="u21b3basecolor">
                                <div class="base1">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pexelsphoto355302">
                        <div class="mask">
                        </div>
                        <img anima-src="./img/user001following-pexels-photo-355302.png" class="pexelsphoto3553021" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                    <div class="u79cbu306eu3053u3068u3070u3092u5b66u3076u3002">
                        秋のことばを学ぶ。
                    </div>
                    <div class="autor1">
                        <div class="byu80fdu5e74u73b2u5948">
                            by 能年 玲奈
                        </div>
                        <img anima-src="./img/user001following-autorimg@2x.png" class="a4b5d527b8c3f73c215848d60fc4e5722400x400" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                    <div class="a245600">
                        ¥600 -
                    </div>
                    <div class="u8a55u4fa11">
                        <div class="icstar24px">
                            <img anima-src="./img/user001following-icstar24px@2x.png" class="icstar24px4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="icstar24px1">
                            <img anima-src="./img/user001following-icstar24px@2x.png" class="icstar24px4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="icstar24px2">
                            <img anima-src="./img/user001following-icstar24px@2x.png" class="icstar24px4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="icstar24px3">
                            <img anima-src="./img/user001following-icstar24px@2x.png" class="icstar24px4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="icstarhalf24px">
                            <img anima-src="./img/user001following-icstarhalf24px@2x.png" class="icstarhalf24px1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                    </div>
                </div>
                <div class="bass">
                </div>
                <div class="u5546u54c1u5199u771f">
                    <div class="mask">
                    </div>
                    <img anima-src="./img/mycontentedit-pexels-photo-355302.png" class="pexelsphoto355302" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
                <div class="mainimg">
                    <div class="mask">
                    </div>
                    <img anima-src="./img/mycontentedit-mainimg.png" class="mainimg1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
                <div class="a5cef9227855e42f99c1610db4d5e474bdece1a1c">
                    <div class="mask">
                    </div>
                    <img anima-src="./img/mycontentedit-5cef9227855e42f99c1610db4d5e474bdece1a1c@2x.png" class="a5cef9227855e42f99c1610db4d5e474bdece1a1c1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="rectangle8">
                    </div>
                </div>
                <div class="c42c88b74a89215d4ef9fa381811ddc9">
                    <div class="mask">
                    </div>
                    <img anima-src="./img/mycontentedit-c42c88b74a89215d4ef9fa381811ddc9@2x.png" class="c42c88b74a89215d4ef9fa381811ddc91" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
                <div class="u79cbu306eu3053u3068u3070u3092u5b66u3076u3002u65b0u8a9eu5f5950u500bu8ffdu52a0uff01">
                    秋のことばを学ぶ。新語彙50個追加！
                </div>
                <div class="u3082u3046u3059u3050u79cbu3067u3059u306du3002u305du308du305du308du57fau790eu306eu52c9u5f37u3082u843d">
                    もうすぐ秋ですね。そろそろ基礎の勉強も落ち着き、語彙力を高める時期に入る学校が多いのではないのでしょうか。
                    <br/>
                    この期にフィールドワークにでも出かけながら、秋のことばを増やしましょう！
                    <br/>
                    <br/>
                    想定生徒：N3まで修了済み
                    <br/>
                    <br/>
                    本教材は、以下が含まれます。
                    <br/>
                    ①会話例を載せた語彙シート
                    <br/>
                    ②フィールドワークで使える語彙チェックシート
                    <br/>
                    ③確認テスト
                    <br/>
                    <br/>
                    誤字・脱字等あればご報告ください。
                    <br/>
                    よろしくお願いします。
                </div>
                <div class="u30d5u30c3u30bfu30fc">
                    <div class="menus">
                        <div class="edopenu306bu3064u3044u3066">
                            EDOPEN について
                        </div>
                        <div class="u304au77e5u3089u305b">
                            お知らせ
                        </div>
                        <div class="qa">
                            Q&amp;A
                        </div>
                        <div class="edopenu306eu4f7fu3044u65b9">
                            EDOPEN の使い方
                        </div>
                        <div class="u5e83u544au51fau7a3f">
                            広告出稿
                        </div>
                        <div class="u904bu55b6">
                            運営
                        </div>
                    </div>
                    <div class="u4e0bu90e8">
                        <div class="a2512018edopen">
                            © 2018. EDOPEN
                        </div>
                        <div class="u30d7u30e9u30a4u30d0u30b7u30fcu30ddu30eau30b7u30fc">
                            プライバシーポリシー
                        </div>
                        <div class="u5229u7528u898fu7d04">
                            利用規約
                        </div>
                        <div class="sns">
                            <div class="tw">
                                <div class="group3">
                                    <img anima-src="./img/user001following-oval@2x.png" class="oval" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                                <img anima-src="./img/user001following-stroke-89@2x.png" class="stroke89" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                            <div class="fb">
                                <img anima-src="./img/user001following-oval@2x.png" class="oval" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <img anima-src="./img/user001following-stroke-87@2x.png" class="stroke87" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                            <div class="is">
                                <img anima-src="./img/user001following-oval@2x.png" class="oval" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <div class="insta">
                                    <img anima-src="./img/user001following-stroke-38@2x.png" class="stroke38" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    <img anima-src="./img/user001following-stroke-40@2x.png" class="stroke40" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    <img anima-src="./img/user001following-stroke-42@2x.png" class="stroke42" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="rectangle5">
                    </div>
                    <div class="rectangle51">
                    </div>
                </div>
                <div class="autor">
                    <div class="byu80fdu5e74u73b2u5948">
                        by 能年 玲奈
                    </div>
                    <img anima-src="./img/mycontent-autorimg@2x.png" class="u80fdu5e74u73b2u5948" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
                <div class="u8a55u4fa1">
                    <div class="icstar24px">
                        <img anima-src="./img/mycontent-icstar24px 9@2x.png" class="icstar24px4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                    <div class="icstar24px1">
                        <img anima-src="./img/mycontent-icstar24px 9@2x.png" class="icstar24px4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                    <div class="icstar24px2">
                        <img anima-src="./img/mycontent-icstar24px 9@2x.png" class="icstar24px4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                    <div class="icstar24px3">
                        <img anima-src="./img/mycontent-icstar24px 9@2x.png" class="icstar24px4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                    <div class="icstarhalf24px">
                        <img anima-src="./img/mycontent-icstarhalf24px@2x.png" class="icstarhalf24px1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                </div>
                <div class="right">
                    <div class="u2500u30b7u30a7u30a2u3059u308bu2500">
                        ─ シェアする ─
                    </div>
                    <div class="u8cfcu5165u30dcu30bfu30f3">
                        <div class="rectangle7">
                        </div>
                        <div class="u8cfcu5165u3059u308b2451000">
                            購入する / ¥1,000 -
                        </div>
                    </div>
                    <div class="reco">
                        <div class="reco1">
                            <div class="u3053u306eu6559u6750u306fu56deu8cfcu5165u3055u308cu3066u3044u307eu3059">
                                この教材は
                                <br/>
                                回
                                <br/>
                                購入されています
                            </div>
                            <div class="a294">
                                294
                            </div>
                        </div>
                        <img anima-src="./img/mycontent-balloon.png" class="oval2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                    <div class="sns">
                        <div class="tw">
                            <div class="group3">
                                <img anima-src="./img/user001following-oval@2x.png" class="oval" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                            <img anima-src="./img/user001following-stroke-89@2x.png" class="stroke89" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="fb">
                            <img anima-src="./img/user001following-oval@2x.png" class="oval" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="./img/user001following-stroke-87@2x.png" class="stroke87" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                    </div>
                </div>
                <div class="u30ecu30d3u30e5u30fc">
                    レビュー
                </div>
                <div class="u8a73u7d30">
                    詳細
                </div>
                <div class="u95a2u9023u6559u6750">
                    関連教材
                </div>
                <div class="u30ecu30d3u30e5u30fc1">
                    <div class="a2018u5e747u67089u65e5">
                        2018年7月9日
                    </div>
                    <div class="u30efu30fcu30afu30b7u30fcu30c8u306eu8a55u5224u304cu826fu304fu3001u751fu5f92u304cu81eau767au7684u306b">
                        ワークシートの評判が良く、生徒が自発的に繰り返し学習している様子が見られました。
                        <br/>
                        教材の作り方も大変参考になりました。ありがとうございます。
                    </div>
                    <div class="overridesavatar">
                        <img anima-src="./img/mycontent-mask@2x.png" class="mask" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img anima-src="./img/mycontent-avatar@2x.png" class="avatar" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                    <div class="sotamikami">
                        Sota Mikami
                    </div>
                    <div class="u8a55u4fa11">
                        <div class="icstar24px">
                            <img anima-src="./img/user001following-icstar24px@2x.png" class="icstar24px5" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="icstar24px1">
                            <img anima-src="./img/user001following-icstar24px@2x.png" class="icstar24px5" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="icstar24px2">
                            <img anima-src="./img/user001following-icstar24px@2x.png" class="icstar24px5" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="icstar24px3">
                            <img anima-src="./img/user001following-icstar24px@2x.png" class="icstar24px5" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="icstar24px4">
                            <img anima-src="./img/user001following-icstar24px@2x.png" class="icstar24px5" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                    </div>
                    <div class="u6700u9ad8u3067u3057u305f">
                        最高でした
                    </div>
                </div>
                <div class="u30ecu30d3u30e5u30fc2">
                    <div class="a2018u5e747u67081u65e5">
                        2018年7月1日
                    </div>
                    <div class="u751fu5f92u306eu53cdu5fdcu3082u826fu304fu3001u4f7fu3044u3084u3059u3044u6559u6750u3067u3057u305fu3002">
                        生徒の反応も良く、使いやすい教材でした。また機会があれば、能年先生の他の教材も試させていただきたいです。
                    </div>
                    <div class="u6709u6751u67b6u7d14">
                        有村 架純
                    </div>
                    <div class="u8a55u4fa11">
                        <div class="icstar24px">
                            <img anima-src="./img/user001following-icstar24px@2x.png" class="icstar24px4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="icstar24px1">
                            <img anima-src="./img/user001following-icstar24px@2x.png" class="icstar24px4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="icstar24px2">
                            <img anima-src="./img/user001following-icstar24px@2x.png" class="icstar24px4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="icstar24px3">
                            <img anima-src="./img/user001following-icstar24px@2x.png" class="icstar24px4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <img anima-src="./img/mycontent-userimg@2x.png" class="wb6gehkt400x400" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                    <div class="u4f7fu3044u3084u3059u3044u3067u3059">
                        使いやすいです
                    </div>
                </div>
                <img anima-src="./img/mycontent-path-2@2x.png" class="path2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="rectangle10">
                </div>
                <div class="u30ddu30c3u30d7u30a2u30c3u30d7">
                    <div class="rectangle11">
                    </div>
                    <img anima-src="./img/content001-line.png" class="rectangle3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="right1">
                        <div class="u652fu6255u3044u65b9u6cd5">
                            支払い方法
                        </div>
                        <div class="u30dcu30bfu30f3s">
                            <div class="u623bu308bu30dcu30bfu30f3">
                                <img anima-src="./img/content001-btnarea@2x.png" class="rectangle62040" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <div class="u623bu308b">
                                    戻る
                                </div>
                            </div>
                            <div class="u652fu6255u3044u78bau5b9au30dcu30bfu30f3">
                                <img anima-src="./img/content001-btnarea 1@2x.png" class="rectangle62040" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <div class="u8cfcu5165u3059u308b">
                                    購入する
                                </div>
                            </div>
                        </div>
                        <div class="u30afu30ecu30b8u30c3u30c8s">
                            <div class="u30afu30ecu30b8u30c3u30c8u30abu30fcu30c9u3067u652fu6255u3044">
                                クレジットカードで支払い
                            </div>
                            <div class="rectangle4">
                            </div>
                            <div class="u30abu30fcu30c9u985e">
                                <div class="u4f7fu7528u3067u304du308bu30abu30fcu30c9">
                                    使用できるカード
                                </div>
                                <img anima-src="./img/content001-visaimg 1@2x.png" class="visa2014logodetailsvg1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <img anima-src="./img/content001-mcimg@2x.png" class="a200pxmastercardlogosvg" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <img anima-src="./img/content001-jcbimg@2x.png" class="jcblogosvg" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                            <div class="rectangle31">
                            </div>
                            <div class="u30abu30fcu30c9u540du7fa9">
                                カード名義
                            </div>
                            <div class="tarotanaka">
                                Taro Tanaka
                            </div>
                            <div class="a400012345678">
                                4000 - 1234 - 5678 - 9010
                            </div>
                            <div class="a12">
                                12
                            </div>
                            <div class="a08">
                                08
                            </div>
                            <div class="a123">
                                123
                            </div>
                            <div class="rectangle5">
                            </div>
                            <div class="u30abu30fcu30c9u756au53f7">
                                カード番号
                            </div>
                            <div class="rectangle51">
                            </div>
                            <div class="u6709u52b9u671fu9650">
                                有効期限
                            </div>
                            <div class="u30bbu30adu30e5u30eau30c6u30a3u30b3u30fcu30c9">
                                セキュリティコード
                            </div>
                            <div class="rectangle52">
                            </div>
                            <div class="rectangle53">
                            </div>
                            <div class="rectangle54">
                            </div>
                            <img anima-src="./img/content001-visaimg@2x.png" class="visa2014logodetailsvg" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <div class="icexpandmore24px">
                                <img anima-src="./img/user001following-icexpandmore24px@2x.png" class="icexpandmore24px1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                        <div class="iccancel24px">
                            <img anima-src="./img/content001-iccancel24px@2x.png" class="iccancel24px1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                    </div>
                    <div class="left">
                        <div class="u5546u54c1u78bau8a8d">
                            商品確認
                        </div>
                        <div class="u79cbu306eu3053u3068u3070u3092u5b66u3076u3002u65b0u8a9eu5f5950u500bu8ffdu52a0uff011">
                            秋のことばを学ぶ。新語彙50個追加！
                        </div>
                        <div class="a2451000">
                            ¥1,000 -
                        </div>
                        <div class="group5">
                            <div class="u5546u54c1u5199u771f1">
                                <div class="mask">
                                </div>
                                <img anima-src="./img/content001-pexels-photo-355302 3.png" class="pexelsphoto355302" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                            <div class="mainimg1">
                                <div class="mask">
                                </div>
                                <img anima-src="./img/content001-mainimg 1@2x.png" class="mainimg2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                            <div class="a5cef9227855e42f99c1610db4d5e474bdece1a1c1">
                                <div class="mask">
                                </div>
                                <img anima-src="./img/content001-5cef9227855e42f99c1610db4d5e474bdece1a1c 1@2x.png" class="a5cef9227855e42f99c1610db4d5e474bdece1a1c2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <div class="rectangle8">
                                </div>
                            </div>
                            <div class="c42c88b74a89215d4ef9fa381811ddc91">
                                <div class="mask">
                                </div>
                                <img anima-src="./img/content001-c42c88b74a89215d4ef9fa381811ddc9 1@2x.png" class="c42c88b74a89215d4ef9fa381811ddc92" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Scripts -->
        <script>
            anima_isHidden = function(e) {
                if (!(e instanceof HTMLElement)) return !1;
                if (getComputedStyle(e).display == "none") return !0; else if (e.parentNode && anima_isHidden(e.parentNode)) return !0;
                return !1;
            };
            anima_loadAsyncSrcForTag = function(tag) {
                var elements = document.getElementsByTagName(tag);
                var toLoad = [];
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var src = e.getAttribute("src");
                    var loaded = (src != undefined && src.length > 0 && src != 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
                    if (loaded) continue;
                    var asyncSrc = e.getAttribute("anima-src");
                    if (asyncSrc == undefined || asyncSrc.length == 0) continue;
                    if (anima_isHidden(e)) continue;
                    toLoad.push(e);
                }
                toLoad.sort(function(a, b) {
                    return anima_getTop(a) - anima_getTop(b);
                });
                for (var i = 0; i < toLoad.length; i++) {
                    var e = toLoad[i];
                    var asyncSrc = e.getAttribute("anima-src");
                    e.setAttribute("src", asyncSrc);
                }
            };
            anima_pauseHiddenVideos = function(tag) {
                var elements = document.getElementsByTagName("video");
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var isPlaying = !!(e.currentTime > 0 && !e.paused && !e.ended && e.readyState > 2);
                    var isHidden = anima_isHidden(e);
                    if (!isPlaying && !isHidden && e.getAttribute("autoplay") == "autoplay") {
                        e.play();
                    } else if (isPlaying && isHidden) {
                        e.pause();
                    }
                }
            };
            anima_loadAsyncSrc = function(tag) {
                anima_loadAsyncSrcForTag("img");
                anima_loadAsyncSrcForTag("iframe");
                anima_loadAsyncSrcForTag("video");
                anima_pauseHiddenVideos();
            };
            var anima_getTop = function(e) {
                var top = 0;
                do {
                    top += e.offsetTop || 0;
                    e = e.offsetParent;
                } while (e);
                return top;
            };
            anima_loadAsyncSrc();
            anima_old_onResize = window.onresize;
            anima_new_onResize = undefined;
            anima_updateOnResize = function() {
                if (anima_new_onResize == undefined || window.onresize != anima_new_onResize) {
                    anima_new_onResize = function(x) {
                        if (anima_old_onResize != undefined) anima_old_onResize(x);
                        anima_loadAsyncSrc();
                    };
                    window.onresize = anima_new_onResize;
                    setTimeout(function() {
                        anima_updateOnResize();
                    }, 3000);
                }
            };
            anima_updateOnResize();
            setTimeout(function() {
                anima_loadAsyncSrc();
            }, 200);
        </script>
        <!-- End of Scripts -->
    </body>
</html>
