<!DOCTYPE html>
<html>
    <head>
        <link href="./img/favicon.png" rel="shortcut icon"/>
        <meta charset="utf-8"/>
        <meta content="width=1440px, maximum-scale=1.0" name="viewport"/>
        <link href="./css/indexunknown.css" rel="stylesheet" type="text/css"/>
        <meta content="Launchpad by Anima" name="author">
        </meta>
    </head>
    <body style="margin: 0;
 background: rgba(255, 255, 255, 1.0);">
        <input id="anPageName" name="page" type="hidden" value="indexunknown"/>
        <div class="indexunknown">
            <div style="width: 1440px; height: 100%; position:relative; margin:auto;">
                <div class="mainarea">
                    <img anima-src="./img/loginsns-bass.png" class="bass" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="footer">
                        <div class="bottom">
                            <div class="text">
                                利用規約
                            </div>
                            <div class="text1">
                                プライバシーポリシー
                            </div>
                            <div class="sns">
                                <div class="fb">
                                    <img anima-src="./img/user001following-oval@2x.png" class="oval" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    <img anima-src="./img/user001following-stroke-87@2x.png" class="stroke87" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                                <div class="ig">
                                    <img anima-src="./img/user001following-oval@2x.png" class="oval" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    <div class="insta">
                                        <img anima-src="./img/user001following-stroke-38@2x.png" class="stroke38" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                        <img anima-src="./img/user001following-stroke-40@2x.png" class="stroke40" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                        <img anima-src="./img/user001following-stroke-42@2x.png" class="stroke42" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    </div>
                                </div>
                                <div class="tw">
                                    <div class="group3">
                                        <img anima-src="./img/user001following-oval@2x.png" class="oval" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    </div>
                                    <img anima-src="./img/user001following-stroke-89@2x.png" class="stroke89" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                            </div>
                            <div class="copywrite">
                                © 2018. EDOPEN
                            </div>
                        </div>
                        <div class="line2">
                        </div>
                        <div class="menus">
                            <div class="text">
                                運営
                            </div>
                            <div class="text1">
                                広告出稿
                            </div>
                            <div class="text2">
                                Q&amp;A
                            </div>
                            <div class="text3">
                                お知らせ
                            </div>
                            <div class="text4">
                                EDOPEN の使い方
                            </div>
                            <div class="text5">
                                EDOPEN について
                            </div>
                        </div>
                        <div class="line1">
                        </div>
                    </div>
                    <div class="contentnew">
                        <div class="contentcard">
                            <div class="content">
                                <div class="base">
                                </div>
                                <div class="autor">
                                    <div class="autorname">
                                        by 能年 玲奈
                                    </div>
                                    <img anima-src="./img/user001following-autorimg@2x.png" class="autorimg" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                                <div class="stars">
                                    <img anima-src="./img/user001following-icstar24px@2x.png" class="icstar24px" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    <img anima-src="./img/user001following-icstar24px@2x.png" class="icstar24px1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    <img anima-src="./img/user001following-icstar24px@2x.png" class="icstar24px2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    <img anima-src="./img/user001following-icstar24px@2x.png" class="icstar24px3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    <img anima-src="./img/user001following-icstarhalf24px@2x.png" class="icstarhalf24px" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                                <div class="price">
                                    ¥600 -
                                </div>
                                <div class="contentname">
                                    秋のことばを学ぶ。
                                </div>
                                <div class="contentimg">
                                    <div class="mask">
                                    </div>
                                    <img anima-src="./img/user001following-pexels-photo-355302.png" class="pexelsphoto355302" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                            </div>
                        </div>
                        <div class="contentcard1">
                            <div class="content">
                                <div class="base">
                                </div>
                                <div class="autor">
                                    <div class="autorname">
                                        by 能年 玲奈
                                    </div>
                                    <img anima-src="./img/user001following-autorimg@2x.png" class="autorimg" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                                <div class="stars">
                                    <img anima-src="./img/user001following-icstar24px@2x.png" class="icstar24px" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    <img anima-src="./img/user001following-icstar24px@2x.png" class="icstar24px1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    <img anima-src="./img/user001following-icstar24px@2x.png" class="icstar24px2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    <img anima-src="./img/user001following-icstar24px@2x.png" class="icstar24px3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    <img anima-src="./img/user001following-icstarhalf24px@2x.png" class="icstarhalf24px" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                                <div class="price">
                                    ¥600 -
                                </div>
                                <div class="contentname">
                                    秋のことばを学ぶ。
                                </div>
                                <div class="contentimg">
                                    <div class="mask">
                                    </div>
                                    <img anima-src="./img/user001following-pexels-photo-355302.png" class="pexelsphoto355302" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                            </div>
                        </div>
                        <div class="contentcard2">
                            <div class="content">
                                <div class="base">
                                </div>
                                <div class="autor">
                                    <div class="autorname">
                                        by 能年 玲奈
                                    </div>
                                    <img anima-src="./img/user001following-autorimg@2x.png" class="autorimg" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                                <div class="stars">
                                    <img anima-src="./img/user001following-icstar24px@2x.png" class="icstar24px" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    <img anima-src="./img/user001following-icstar24px@2x.png" class="icstar24px1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    <img anima-src="./img/user001following-icstar24px@2x.png" class="icstar24px2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    <img anima-src="./img/user001following-icstar24px@2x.png" class="icstar24px3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    <img anima-src="./img/user001following-icstarhalf24px@2x.png" class="icstarhalf24px" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                                <div class="price">
                                    ¥600 -
                                </div>
                                <div class="contentname">
                                    秋のことばを学ぶ。
                                </div>
                                <div class="contentimg">
                                    <div class="mask">
                                    </div>
                                    <img anima-src="./img/user001following-pexels-photo-355302.png" class="pexelsphoto355302" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                            </div>
                        </div>
                        <div class="contentcard3">
                            <div class="content">
                                <div class="base">
                                </div>
                                <div class="autor">
                                    <div class="autorname">
                                        by 能年 玲奈
                                    </div>
                                    <img anima-src="./img/user001following-autorimg@2x.png" class="autorimg" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                                <div class="stars">
                                    <img anima-src="./img/user001following-icstar24px@2x.png" class="icstar24px" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    <img anima-src="./img/user001following-icstar24px@2x.png" class="icstar24px1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    <img anima-src="./img/user001following-icstar24px@2x.png" class="icstar24px2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    <img anima-src="./img/user001following-icstar24px@2x.png" class="icstar24px3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    <img anima-src="./img/user001following-icstarhalf24px@2x.png" class="icstarhalf24px" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                                <div class="price">
                                    ¥600 -
                                </div>
                                <div class="contentname">
                                    秋のことばを学ぶ。
                                </div>
                                <div class="contentimg">
                                    <div class="mask">
                                    </div>
                                    <img anima-src="./img/user001following-pexels-photo-355302.png" class="pexelsphoto355302" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                            </div>
                        </div>
                        <div class="contentcard4">
                            <div class="content">
                                <div class="base">
                                </div>
                                <div class="autor">
                                    <div class="autorname">
                                        by 能年 玲奈
                                    </div>
                                    <img anima-src="./img/user001following-autorimg@2x.png" class="autorimg" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                                <div class="stars">
                                    <img anima-src="./img/user001following-icstar24px@2x.png" class="icstar24px" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    <img anima-src="./img/user001following-icstar24px@2x.png" class="icstar24px1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    <img anima-src="./img/user001following-icstar24px@2x.png" class="icstar24px2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    <img anima-src="./img/user001following-icstar24px@2x.png" class="icstar24px3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    <img anima-src="./img/user001following-icstarhalf24px@2x.png" class="icstarhalf24px" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                                <div class="price">
                                    ¥600 -
                                </div>
                                <div class="contentname">
                                    秋のことばを学ぶ。
                                </div>
                                <div class="contentimg">
                                    <div class="mask">
                                    </div>
                                    <img anima-src="./img/user001following-pexels-photo-355302.png" class="pexelsphoto355302" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                            </div>
                        </div>
                        <div class="contentcard5">
                            <div class="content">
                                <div class="base">
                                </div>
                                <div class="autor">
                                    <div class="autorname">
                                        by 能年 玲奈
                                    </div>
                                    <img anima-src="./img/user001following-autorimg@2x.png" class="autorimg" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                                <div class="stars">
                                    <img anima-src="./img/user001following-icstar24px@2x.png" class="icstar24px" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    <img anima-src="./img/user001following-icstar24px@2x.png" class="icstar24px1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    <img anima-src="./img/user001following-icstar24px@2x.png" class="icstar24px2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    <img anima-src="./img/user001following-icstar24px@2x.png" class="icstar24px3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    <img anima-src="./img/user001following-icstarhalf24px@2x.png" class="icstarhalf24px" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                                <div class="price">
                                    ¥600 -
                                </div>
                                <div class="contentname">
                                    秋のことばを学ぶ。
                                </div>
                                <div class="contentimg">
                                    <div class="mask">
                                    </div>
                                    <img anima-src="./img/user001following-pexels-photo-355302.png" class="pexelsphoto355302" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                            </div>
                        </div>
                        <div class="h2">
                            最新の教材
                        </div>
                    </div>
                    <div class="rectangle5">
                    </div>
                    <div class="teacherspopular">
                        <div class="teachercard">
                            <img anima-src="./img/loginsns-base.png" class="base" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="./img/loginsns-icclose@2x.png" class="icclose" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <div class="teachername">
                                橋本 環奈
                            </div>
                            <div class="teacherbio">
                                タイの大学で働いています。過去には中国の学校にもいました。
                            </div>
                            <img anima-src="./img/loginsns-teacherimg@2x.png" class="teacherimg" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="teachercard1">
                            <img anima-src="./img/loginsns-base.png" class="base" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="./img/loginsns-icclose@2x.png" class="icclose" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <div class="teachername">
                                橋本 環奈
                            </div>
                            <div class="teacherbio">
                                タイの大学で働いています。過去には中国の学校にもいました。
                            </div>
                            <img anima-src="./img/loginsns-teacherimg@2x.png" class="teacherimg" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="teachercard2">
                            <img anima-src="./img/loginsns-base.png" class="base" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="./img/loginsns-icclose@2x.png" class="icclose" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <div class="teachername">
                                橋本 環奈
                            </div>
                            <div class="teacherbio">
                                タイの大学で働いています。過去には中国の学校にもいました。
                            </div>
                            <img anima-src="./img/loginsns-teacherimg@2x.png" class="teacherimg" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="teachercard3">
                            <img anima-src="./img/loginsns-base.png" class="base" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="./img/loginsns-icclose@2x.png" class="icclose" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <div class="teachername">
                                橋本 環奈
                            </div>
                            <div class="teacherbio">
                                タイの大学で働いています。過去には中国の学校にもいました。
                            </div>
                            <img anima-src="./img/loginsns-teacherimg@2x.png" class="teacherimg" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="teachercard4">
                            <img anima-src="./img/loginsns-base.png" class="base" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="./img/loginsns-icclose@2x.png" class="icclose" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <div class="teachername">
                                橋本 環奈
                            </div>
                            <div class="teacherbio">
                                タイの大学で働いています。過去には中国の学校にもいました。
                            </div>
                            <img anima-src="./img/loginsns-teacherimg@2x.png" class="teacherimg" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="teachercard5">
                            <img anima-src="./img/loginsns-base.png" class="base" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="./img/loginsns-icclose@2x.png" class="icclose" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <div class="teachername">
                                橋本 環奈
                            </div>
                            <div class="teacherbio">
                                タイの大学で働いています。過去には中国の学校にもいました。
                            </div>
                            <img anima-src="./img/loginsns-teacherimg@2x.png" class="teacherimg" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="h2">
                            人気の先生
                        </div>
                    </div>
                    <div class="line">
                    </div>
                    <div class="recomendcontent">
                        <div class="contentcard">
                            <div class="content">
                                <div class="base">
                                </div>
                                <div class="autor">
                                    <div class="autorname">
                                        by 能年 玲奈
                                    </div>
                                    <img anima-src="./img/user001following-autorimg@2x.png" class="autorimg" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                                <div class="stars">
                                    <img anima-src="./img/user001following-icstar24px@2x.png" class="icstar24px" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    <img anima-src="./img/user001following-icstar24px@2x.png" class="icstar24px1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    <img anima-src="./img/user001following-icstar24px@2x.png" class="icstar24px2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    <img anima-src="./img/user001following-icstar24px@2x.png" class="icstar24px3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    <img anima-src="./img/user001following-icstarhalf24px@2x.png" class="icstarhalf24px" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                                <div class="price">
                                    ¥600 -
                                </div>
                                <div class="contentname">
                                    秋のことばを学ぶ。
                                </div>
                                <div class="contentimg">
                                    <div class="mask">
                                    </div>
                                    <img anima-src="./img/user001following-pexels-photo-355302.png" class="pexelsphoto355302" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                            </div>
                        </div>
                        <div class="contentcard1">
                            <div class="content">
                                <div class="base">
                                </div>
                                <div class="autor">
                                    <div class="autorname">
                                        by 能年 玲奈
                                    </div>
                                    <img anima-src="./img/user001following-autorimg@2x.png" class="autorimg" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                                <div class="stars">
                                    <img anima-src="./img/user001following-icstar24px@2x.png" class="icstar24px" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    <img anima-src="./img/user001following-icstar24px@2x.png" class="icstar24px1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    <img anima-src="./img/user001following-icstar24px@2x.png" class="icstar24px2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    <img anima-src="./img/user001following-icstar24px@2x.png" class="icstar24px3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    <img anima-src="./img/user001following-icstarhalf24px@2x.png" class="icstarhalf24px" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                                <div class="price">
                                    ¥600 -
                                </div>
                                <div class="contentname">
                                    秋のことばを学ぶ。
                                </div>
                                <div class="contentimg">
                                    <div class="mask">
                                    </div>
                                    <img anima-src="./img/user001following-pexels-photo-355302.png" class="pexelsphoto355302" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                            </div>
                        </div>
                        <div class="contentcard2">
                            <div class="content">
                                <div class="base">
                                </div>
                                <div class="autor">
                                    <div class="autorname">
                                        by 能年 玲奈
                                    </div>
                                    <img anima-src="./img/user001following-autorimg@2x.png" class="autorimg" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                                <div class="stars">
                                    <img anima-src="./img/user001following-icstar24px@2x.png" class="icstar24px" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    <img anima-src="./img/user001following-icstar24px@2x.png" class="icstar24px1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    <img anima-src="./img/user001following-icstar24px@2x.png" class="icstar24px2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    <img anima-src="./img/user001following-icstar24px@2x.png" class="icstar24px3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    <img anima-src="./img/user001following-icstarhalf24px@2x.png" class="icstarhalf24px" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                                <div class="price">
                                    ¥600 -
                                </div>
                                <div class="contentname">
                                    秋のことばを学ぶ。
                                </div>
                                <div class="contentimg">
                                    <div class="mask">
                                    </div>
                                    <img anima-src="./img/user001following-pexels-photo-355302.png" class="pexelsphoto355302" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                            </div>
                        </div>
                        <div class="h2">
                            あなたへのおすすめ教材
                        </div>
                    </div>
                    <div class="ad">
                        <img anima-src="./img/loginsns-adarea.png" class="adarea" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="admessage">
                            広告枠
                        </div>
                        <div class="icclose24px">
                            <img anima-src="./img/loginsns-icclose24px@2x.png" class="icclose24px1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                    </div>
                </div>
                <div class="sidebar">
                    <img anima-src="./img/user001following-sidebase.png" class="sidebase" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img anima-src="./img/user001following-line@2x.png" class="line" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="sidesubmenu">
                        <div class="sidebarmenu">
                            <div class="text">
                                設定
                            </div>
                            <img anima-src="./img/user001following-icsettings24px@2x.png" class="icsettings24px" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="sidebarmenu1">
                            <div class="text">
                                フィードバック
                            </div>
                            <img anima-src="./img/user001following-icfeedback24px@2x.png" class="icfeedback24px" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="sidebarmenu2">
                            <div class="text">
                                ヘルプ
                            </div>
                            <img anima-src="./img/user001following-ichelp24px@2x.png" class="ichelp24px" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                    </div>
                    <div class="sidemainmenu">
                        <div class="sidebarmenu">
                            <div class="text">
                                人気の教材
                            </div>
                            <img anima-src="./img/user001following-icgrade24px@2x.png" class="icgrade24px" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="sidebarmenunow">
                            <div class="text">
                                ホーム
                            </div>
                            <img anima-src="./img/user001following-ichome24px@2x.png" class="ichome24px" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                    </div>
                </div>
                <div class="headerunknown">
                    <div class="rectangle2">
                    </div>
                    <div class="btnsigninsignup">
                        <div class="btnarea">
                        </div>
                        <div class="text">
                            新規登録 / ログイン
                        </div>
                    </div>
                    <div class="headermenu">
                        <div class="menu">
                            カテゴリー
                        </div>
                        <div class="menu1">
                            ホーム
                        </div>
                    </div>
                    <div class="search">
                        <img anima-src="./img/user001following-icsearch24px@2x.png" class="icsearch24px" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="searchtext">
                            教材を検索する..
                        </div>
                    </div>
                    <img anima-src="./img/user001following-logoedopen@2x.png" class="logoedopen" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img anima-src="./img/user001following-icmenu24px@2x.png" class="icmenu24px" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
            </div>
        </div>
        <!-- Scripts -->
        <script>
            anima_isHidden = function(e) {
                if (!(e instanceof HTMLElement)) return !1;
                if (getComputedStyle(e).display == "none") return !0; else if (e.parentNode && anima_isHidden(e.parentNode)) return !0;
                return !1;
            };
            anima_loadAsyncSrcForTag = function(tag) {
                var elements = document.getElementsByTagName(tag);
                var toLoad = [];
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var src = e.getAttribute("src");
                    var loaded = (src != undefined && src.length > 0 && src != 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
                    if (loaded) continue;
                    var asyncSrc = e.getAttribute("anima-src");
                    if (asyncSrc == undefined || asyncSrc.length == 0) continue;
                    if (anima_isHidden(e)) continue;
                    toLoad.push(e);
                }
                toLoad.sort(function(a, b) {
                    return anima_getTop(a) - anima_getTop(b);
                });
                for (var i = 0; i < toLoad.length; i++) {
                    var e = toLoad[i];
                    var asyncSrc = e.getAttribute("anima-src");
                    e.setAttribute("src", asyncSrc);
                }
            };
            anima_pauseHiddenVideos = function(tag) {
                var elements = document.getElementsByTagName("video");
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var isPlaying = !!(e.currentTime > 0 && !e.paused && !e.ended && e.readyState > 2);
                    var isHidden = anima_isHidden(e);
                    if (!isPlaying && !isHidden && e.getAttribute("autoplay") == "autoplay") {
                        e.play();
                    } else if (isPlaying && isHidden) {
                        e.pause();
                    }
                }
            };
            anima_loadAsyncSrc = function(tag) {
                anima_loadAsyncSrcForTag("img");
                anima_loadAsyncSrcForTag("iframe");
                anima_loadAsyncSrcForTag("video");
                anima_pauseHiddenVideos();
            };
            var anima_getTop = function(e) {
                var top = 0;
                do {
                    top += e.offsetTop || 0;
                    e = e.offsetParent;
                } while (e);
                return top;
            };
            anima_loadAsyncSrc();
            anima_old_onResize = window.onresize;
            anima_new_onResize = undefined;
            anima_updateOnResize = function() {
                if (anima_new_onResize == undefined || window.onresize != anima_new_onResize) {
                    anima_new_onResize = function(x) {
                        if (anima_old_onResize != undefined) anima_old_onResize(x);
                        anima_loadAsyncSrc();
                    };
                    window.onresize = anima_new_onResize;
                    setTimeout(function() {
                        anima_updateOnResize();
                    }, 3000);
                }
            };
            anima_updateOnResize();
            setTimeout(function() {
                anima_loadAsyncSrc();
            }, 200);
        </script>
        <!-- End of Scripts -->
    </body>
</html>
