<!DOCTYPE html>
<html>
    <head>
        <link href="./img/favicon.png" rel="shortcut icon"/>
        <meta charset="utf-8"/>
        <meta content="width=1440px, maximum-scale=1.0" name="viewport"/>
        <link href="./css/settingsub.css" rel="stylesheet" type="text/css"/>
        <meta content="Launchpad by Anima" name="author">
        </meta>
    </head>
    <body style="margin: 0;
 background: rgba(255, 255, 255, 1.0);">
        <input id="anPageName" name="page" type="hidden" value="settingsub"/>
        <div class="settingsub">
            <div style="width: 1440px; height: 100%; position:relative; margin:auto;">
                <div class="security">
                    <div class="btn-view">
                        <div class="btnarea">
                        </div>
                        <div class="text1">
                            アカウント削除
                        </div>
                    </div>
                    <div class="text">
                        退会
                    </div>
                    <img anima-src="./img/settingsub-line.png" class="line" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="h2">
                        セキュリティ
                    </div>
                </div>
                <div class="email">
                    <div class="email1">
                        <div class="btnedit">
                            <div class="btnarea">
                            </div>
                            <div class="text1">
                                編集
                            </div>
                        </div>
                        <div class="adress">
                            12345678@gmail.com
                        </div>
                        <div class="text">
                            Email
                        </div>
                    </div>
                    <img anima-src="./img/settingsub-line.png" class="line" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="h2">
                        Email
                    </div>
                </div>
                <div class="h1">
                    設定
                </div>
                <div class="headerindex">
                    <div class="area">
                    </div>
                    <div class="menus">
                        <div class="menu">
                            カテゴリー
                        </div>
                        <div class="menu1">
                            ホーム
                        </div>
                        <div class="menu2">
                            <div class="menu3">
                                フォローリスト
                            </div>
                            <img anima-src="./img/user001following-notification@2x.png" class="notification" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                    </div>
                    <div class="search">
                        <img anima-src="./img/user001following-icsearch24px@2x.png" class="icsearch24px" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="text">
                            教材を検索する..
                        </div>
                    </div>
                    <img anima-src="./img/user001following-notifications@2x.png" class="notifications" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img anima-src="./img/user001following-icexpandmore24px@2x.png" class="icexpandmore24px" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="overridesavatar">
                        <img anima-src="./img/user001following-mask@2x.png" class="mask" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img anima-src="./img/user001following-avatar@2x.png" class="avatar" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                    <div class="btnupload">
                        <div class="btnarea">
                        </div>
                        <img anima-src="./img/user001following-icbackup24px@2x.png" class="icbackup24px" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="text">
                            教材を投稿する
                        </div>
                    </div>
                    <img anima-src="./img/user001following-logoedopen@2x.png" class="logoedopen" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img anima-src="./img/user001following-icmenu24px@2x.png" class="icmenu24px" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
                <div class="credit">
                    <img anima-src="./img/settingsub-line.png" class="line" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="h2">
                        支払い情報
                    </div>
                    <div class="btn-view">
                        <div class="btnarea">
                        </div>
                        <div class="text">
                            登録
                        </div>
                    </div>
                    <div class="btn1">
                        <div class="btnarea">
                        </div>
                        <div class="text">
                            キャンセル
                        </div>
                    </div>
                    <div class="creditinfo">
                        <div class="input">
                        </div>
                        <div class="input1">
                        </div>
                        <div class="input2">
                        </div>
                        <div class="text">
                            カード番号
                        </div>
                        <div class="text1">
                            有効期限
                        </div>
                        <div class="text2">
                            セキュリティーコード
                        </div>
                    </div>
                </div>
                <div class="cooperation">
                    <div class="snsshow">
                        <div class="switchbtn">
                            <div class="btnarea">
                            </div>
                            <div class="text">
                                見せない
                            </div>
                            <div class="text1">
                                見せる
                            </div>
                            <img anima-src="./img/settingsub-path-4@2x.png" class="path4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="snsshow1">
                            SNSのリンクを見せる/見せない
                        </div>
                    </div>
                    <img anima-src="./img/settingsub-line.png" class="line" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="fb">
                        <div class="btndelete">
                            <div class="btnarea">
                            </div>
                            <div class="text">
                                削除
                            </div>
                        </div>
                        <div class="fb1">
                            <div class="account">
                                /souta.mikami.157
                            </div>
                            <div class="fb2">
                                facebook
                            </div>
                        </div>
                    </div>
                    <img anima-src="./img/settingsub-line.png" class="line1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="tw">
                        <div class="btndelete">
                            <div class="btnarea">
                            </div>
                            <div class="text">
                                削除
                            </div>
                        </div>
                        <div class="tw1">
                            <div class="tw2">
                                Twitter
                            </div>
                            <div class="account">
                                @sota_mikami
                            </div>
                        </div>
                    </div>
                    <img anima-src="./img/settingsub-line.png" class="line2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="h2">
                        外部連携
                    </div>
                </div>
            </div>
        </div>
        <!-- Scripts -->
        <script>
            anima_isHidden = function(e) {
                if (!(e instanceof HTMLElement)) return !1;
                if (getComputedStyle(e).display == "none") return !0; else if (e.parentNode && anima_isHidden(e.parentNode)) return !0;
                return !1;
            };
            anima_loadAsyncSrcForTag = function(tag) {
                var elements = document.getElementsByTagName(tag);
                var toLoad = [];
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var src = e.getAttribute("src");
                    var loaded = (src != undefined && src.length > 0 && src != 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
                    if (loaded) continue;
                    var asyncSrc = e.getAttribute("anima-src");
                    if (asyncSrc == undefined || asyncSrc.length == 0) continue;
                    if (anima_isHidden(e)) continue;
                    toLoad.push(e);
                }
                toLoad.sort(function(a, b) {
                    return anima_getTop(a) - anima_getTop(b);
                });
                for (var i = 0; i < toLoad.length; i++) {
                    var e = toLoad[i];
                    var asyncSrc = e.getAttribute("anima-src");
                    e.setAttribute("src", asyncSrc);
                }
            };
            anima_pauseHiddenVideos = function(tag) {
                var elements = document.getElementsByTagName("video");
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var isPlaying = !!(e.currentTime > 0 && !e.paused && !e.ended && e.readyState > 2);
                    var isHidden = anima_isHidden(e);
                    if (!isPlaying && !isHidden && e.getAttribute("autoplay") == "autoplay") {
                        e.play();
                    } else if (isPlaying && isHidden) {
                        e.pause();
                    }
                }
            };
            anima_loadAsyncSrc = function(tag) {
                anima_loadAsyncSrcForTag("img");
                anima_loadAsyncSrcForTag("iframe");
                anima_loadAsyncSrcForTag("video");
                anima_pauseHiddenVideos();
            };
            var anima_getTop = function(e) {
                var top = 0;
                do {
                    top += e.offsetTop || 0;
                    e = e.offsetParent;
                } while (e);
                return top;
            };
            anima_loadAsyncSrc();
            anima_old_onResize = window.onresize;
            anima_new_onResize = undefined;
            anima_updateOnResize = function() {
                if (anima_new_onResize == undefined || window.onresize != anima_new_onResize) {
                    anima_new_onResize = function(x) {
                        if (anima_old_onResize != undefined) anima_old_onResize(x);
                        anima_loadAsyncSrc();
                    };
                    window.onresize = anima_new_onResize;
                    setTimeout(function() {
                        anima_updateOnResize();
                    }, 3000);
                }
            };
            anima_updateOnResize();
            setTimeout(function() {
                anima_loadAsyncSrc();
            }, 200);
        </script>
        <!-- End of Scripts -->
    </body>
</html>
