<!DOCTYPE html>
<html>
    <head>
        <link href="./img/favicon.png" rel="shortcut icon"/>
        <meta charset="utf-8"/>
        <meta content="width=1440px, maximum-scale=1.0" name="viewport"/>
        <link href="./css/a1.css" rel="stylesheet" type="text/css"/>
        <meta content="Launchpad by Anima" name="author">
        </meta>
    </head>
    <body style="margin: 0;
 background: rgba(255, 255, 255, 1.0);">
        <input id="anPageName" name="page" type="hidden" value="a1"/>
        <div class="a1">
            <div style="width: 1440px; height: 100%; position:relative; margin:auto;">
                <div class="bass">
                </div>
                <img anima-src="./img/index-side-base.png" class="sidebase" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="rectangle5">
                </div>
                <div class="rectangle51">
                </div>
                <div class="u30d5u30c3u30bfu30fc">
                    <div class="menus">
                        <div class="edopenu306bu3064u3044u3066">
                            EDOPEN について
                        </div>
                        <div class="u304au77e5u3089u305b">
                            お知らせ
                        </div>
                        <div class="qa">
                            Q&amp;A
                        </div>
                        <div class="edopenu306eu4f7fu3044u65b9">
                            EDOPEN の使い方
                        </div>
                        <div class="u5e83u544au51fau7a3f">
                            広告出稿
                        </div>
                        <div class="u904bu55b6">
                            運営
                        </div>
                    </div>
                    <div class="u4e0bu90e8">
                        <div class="a2512018edopen">
                            © 2018. EDOPEN
                        </div>
                        <div class="u30d7u30e9u30a4u30d0u30b7u30fcu30ddu30eau30b7u30fc">
                            プライバシーポリシー
                        </div>
                        <div class="u5229u7528u898fu7d04">
                            利用規約
                        </div>
                        <div class="sns">
                            <div class="tw">
                                <div class="group3">
                                    <img anima-src="./img/my-oval@2x.png" class="oval" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                                <img anima-src="./img/my-stroke-89@2x.png" class="stroke89" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                            <div class="fb">
                                <img anima-src="./img/my-oval@2x.png" class="oval" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <img anima-src="./img/my-stroke-87@2x.png" class="stroke87" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                            <div class="is">
                                <img anima-src="./img/my-oval@2x.png" class="oval" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <div class="insta">
                                    <img anima-src="./img/my-stroke-38@2x.png" class="stroke38" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    <img anima-src="./img/my-stroke-40@2x.png" class="stroke40" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    <img anima-src="./img/my-stroke-42@2x.png" class="stroke42" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="rectangle52">
                    </div>
                    <div class="rectangle511">
                    </div>
                </div>
                <div class="u6700u65b0u306eu6559u6750">
                    <div class="u6700u65b0u306eu6559u67501">
                        最新の教材
                    </div>
                    <div class="group4">
                        <div class="base">
                            <div class="typebase2">
                                <div class="mask">
                                </div>
                                <div class="u21b3basecolor">
                                    <div class="base1">
                                    </div>
                                </div>
                            </div>
                            <div class="typebase1">
                                <div class="mask">
                                </div>
                                <div class="u21b3basecolor">
                                    <div class="base1">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pexelsphoto355302">
                            <div class="mask">
                            </div>
                            <img anima-src="./img/index-pexels-photo-355302.png" class="pexelsphoto3553021" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="u79cbu306eu3053u3068u3070u3092u5b66u3076u3002">
                            秋のことばを学ぶ。
                        </div>
                        <div class="autor">
                            <div class="byu80fdu5e74u73b2u5948">
                                by 能年 玲奈
                            </div>
                            <img anima-src="./img/index-nonside-4b5d527b8c3f73c215848d60fc4e5722400x400@2x.png" class="a4b5d527b8c3f73c215848d60fc4e5722400x400" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="a245600">
                            ¥600 -
                        </div>
                        <div class="u8a55u4fa1">
                            <div class="icstar24px">
                                <img anima-src="./img/my-icstar24px 9@2x.png" class="icstar24px4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                            <div class="icstar24px1">
                                <img anima-src="./img/my-icstar24px 9@2x.png" class="icstar24px4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                            <div class="icstar24px2">
                                <img anima-src="./img/my-icstar24px 9@2x.png" class="icstar24px4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                            <div class="icstar24px3">
                                <img anima-src="./img/my-icstar24px 9@2x.png" class="icstar24px4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                            <div class="icstarhalf24px">
                                <img anima-src="./img/index-nonside-icstarhalf24px@2x.png" class="icstarhalf24px1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                    </div>
                    <div class="group41">
                        <div class="base">
                            <div class="typebase2">
                                <div class="mask">
                                </div>
                                <div class="u21b3basecolor">
                                    <div class="base1">
                                    </div>
                                </div>
                            </div>
                            <div class="typebase1">
                                <div class="mask">
                                </div>
                                <div class="u21b3basecolor">
                                    <div class="base1">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pexelsphoto355302">
                            <div class="mask">
                            </div>
                            <img anima-src="./img/index-pexels-photo-355302.png" class="pexelsphoto3553021" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="u79cbu306eu3053u3068u3070u3092u5b66u3076u3002u65b0u8a9eu5f5950u500bu8ffdu52a0uff01">
                            秋のことばを学ぶ。新語彙50個追加！
                        </div>
                        <div class="autor">
                            <div class="byu80fdu5e74u73b2u5948">
                                by 能年 玲奈
                            </div>
                            <img anima-src="./img/index-nonside-4b5d527b8c3f73c215848d60fc4e5722400x400@2x.png" class="a4b5d527b8c3f73c215848d60fc4e5722400x400" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="a2451000">
                            ¥1,000 -
                        </div>
                        <div class="u8a55u4fa1">
                            <div class="icstar24px">
                                <img anima-src="./img/my-icstar24px 9@2x.png" class="icstar24px4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                            <div class="icstar24px1">
                                <img anima-src="./img/my-icstar24px 9@2x.png" class="icstar24px4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                            <div class="icstar24px2">
                                <img anima-src="./img/my-icstar24px 9@2x.png" class="icstar24px4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                            <div class="icstar24px3">
                                <img anima-src="./img/my-icstar24px 9@2x.png" class="icstar24px4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                            <div class="icstarhalf24px">
                                <img anima-src="./img/index-nonside-icstarhalf24px@2x.png" class="icstarhalf24px1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                    </div>
                    <div class="group42">
                        <div class="base">
                            <div class="typebase2">
                                <div class="mask">
                                </div>
                                <div class="u21b3basecolor">
                                    <div class="base1">
                                    </div>
                                </div>
                            </div>
                            <div class="typebase1">
                                <div class="mask">
                                </div>
                                <div class="u21b3basecolor">
                                    <div class="base1">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pexelsphoto355302">
                            <div class="mask">
                            </div>
                            <img anima-src="./img/index-u30bfu3099u30a6u30f3u30edu30fcu30c8u3099.png" class="u30bfu3099u30a6u30f3u30edu30fcu30c8u3099" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="u30d0u30a4u30c8u5148u3067u4f7fu3046u4f1au8a71u96c6">
                            バイト先で使う会話集
                        </div>
                        <div class="autor">
                            <div class="byu80fdu5e74u73b2u5948">
                                by 能年 玲奈
                            </div>
                            <img anima-src="./img/index-nonside-4b5d527b8c3f73c215848d60fc4e5722400x400@2x.png" class="a4b5d527b8c3f73c215848d60fc4e5722400x400" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="a245500">
                            ¥500 -
                        </div>
                        <div class="u8a55u4fa1">
                            <div class="icstar24px">
                                <img anima-src="./img/my-icstar24px 9@2x.png" class="icstar24px4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                            <div class="icstar24px1">
                                <img anima-src="./img/my-icstar24px 9@2x.png" class="icstar24px4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                            <div class="icstar24px2">
                                <img anima-src="./img/my-icstar24px 9@2x.png" class="icstar24px4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                            <div class="icstar24px3">
                                <img anima-src="./img/my-icstar24px 9@2x.png" class="icstar24px4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                            <div class="icstarhalf24px">
                                <img anima-src="./img/index-nonside-icstarhalf24px@2x.png" class="icstarhalf24px1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                    </div>
                    <div class="group43">
                        <div class="base">
                            <div class="typebase2">
                                <div class="mask">
                                </div>
                                <div class="u21b3basecolor">
                                    <div class="base1">
                                    </div>
                                </div>
                            </div>
                            <div class="typebase1">
                                <div class="mask">
                                </div>
                                <div class="u21b3basecolor">
                                    <div class="base1">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pexelsphoto355302">
                            <div class="mask">
                            </div>
                            <img anima-src="./img/index-pexels-photo-355302.png" class="pexelsphoto3553021" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="u79cbu306eu3053u3068u3070u3092u5b66u3076u3002">
                            秋のことばを学ぶ。
                        </div>
                        <div class="autor">
                            <div class="byu80fdu5e74u73b2u5948">
                                by 能年 玲奈
                            </div>
                            <img anima-src="./img/index-nonside-4b5d527b8c3f73c215848d60fc4e5722400x400@2x.png" class="a4b5d527b8c3f73c215848d60fc4e5722400x400" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="a245600">
                            ¥600 -
                        </div>
                        <div class="u8a55u4fa1">
                            <div class="icstar24px">
                                <img anima-src="./img/my-icstar24px 9@2x.png" class="icstar24px4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                            <div class="icstar24px1">
                                <img anima-src="./img/my-icstar24px 9@2x.png" class="icstar24px4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                            <div class="icstar24px2">
                                <img anima-src="./img/my-icstar24px 9@2x.png" class="icstar24px4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                            <div class="icstar24px3">
                                <img anima-src="./img/my-icstar24px 9@2x.png" class="icstar24px4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                            <div class="icstarhalf24px">
                                <img anima-src="./img/index-nonside-icstarhalf24px@2x.png" class="icstarhalf24px1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                    </div>
                    <div class="group44">
                        <div class="base">
                            <div class="typebase2">
                                <div class="mask">
                                </div>
                                <div class="u21b3basecolor">
                                    <div class="base1">
                                    </div>
                                </div>
                            </div>
                            <div class="typebase1">
                                <div class="mask">
                                </div>
                                <div class="u21b3basecolor">
                                    <div class="base1">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pexelsphoto355302">
                            <div class="mask">
                            </div>
                            <img anima-src="./img/index-pexels-photo-355302.png" class="pexelsphoto3553021" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="u79cbu306eu3053u3068u3070u3092u5b66u3076u3002u65b0u8a9eu5f5950u500bu8ffdu52a0uff01">
                            秋のことばを学ぶ。新語彙50個追加！
                        </div>
                        <div class="autor">
                            <div class="byu80fdu5e74u73b2u5948">
                                by 能年 玲奈
                            </div>
                            <img anima-src="./img/index-nonside-4b5d527b8c3f73c215848d60fc4e5722400x400@2x.png" class="a4b5d527b8c3f73c215848d60fc4e5722400x400" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="a2451000">
                            ¥1,000 -
                        </div>
                        <div class="u8a55u4fa1">
                            <div class="icstar24px">
                                <img anima-src="./img/my-icstar24px 9@2x.png" class="icstar24px4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                            <div class="icstar24px1">
                                <img anima-src="./img/my-icstar24px 9@2x.png" class="icstar24px4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                            <div class="icstar24px2">
                                <img anima-src="./img/my-icstar24px 9@2x.png" class="icstar24px4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                            <div class="icstar24px3">
                                <img anima-src="./img/my-icstar24px 9@2x.png" class="icstar24px4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                            <div class="icstarhalf24px">
                                <img anima-src="./img/index-nonside-icstarhalf24px@2x.png" class="icstarhalf24px1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                    </div>
                    <div class="group45">
                        <div class="base">
                            <div class="typebase2">
                                <div class="mask">
                                </div>
                                <div class="u21b3basecolor">
                                    <div class="base1">
                                    </div>
                                </div>
                            </div>
                            <div class="typebase1">
                                <div class="mask">
                                </div>
                                <div class="u21b3basecolor">
                                    <div class="base1">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pexelsphoto355302">
                            <div class="mask">
                            </div>
                            <img anima-src="./img/index-u30bfu3099u30a6u30f3u30edu30fcu30c8u3099.png" class="u30bfu3099u30a6u30f3u30edu30fcu30c8u3099" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="u30d0u30a4u30c8u5148u3067u4f7fu3046u4f1au8a71u96c6">
                            バイト先で使う会話集
                        </div>
                        <div class="autor">
                            <div class="byu80fdu5e74u73b2u5948">
                                by 能年 玲奈
                            </div>
                            <img anima-src="./img/index-nonside-4b5d527b8c3f73c215848d60fc4e5722400x400@2x.png" class="a4b5d527b8c3f73c215848d60fc4e5722400x400" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="a245500">
                            ¥500 -
                        </div>
                        <div class="u8a55u4fa1">
                            <div class="icstar24px">
                                <img anima-src="./img/my-icstar24px 9@2x.png" class="icstar24px4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                            <div class="icstar24px1">
                                <img anima-src="./img/my-icstar24px 9@2x.png" class="icstar24px4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                            <div class="icstar24px2">
                                <img anima-src="./img/my-icstar24px 9@2x.png" class="icstar24px4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                            <div class="icstar24px3">
                                <img anima-src="./img/my-icstar24px 9@2x.png" class="icstar24px4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                            <div class="icstarhalf24px">
                                <img anima-src="./img/index-nonside-icstarhalf24px@2x.png" class="icstarhalf24px1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="u4ebau6c17u306eu5148u751f">
                    <div class="u4ebau6c17u306eu5148u751f1">
                        人気の先生
                    </div>
                    <div class="teacher">
                        <div class="base">
                            <div class="typebase2">
                                <div class="mask">
                                </div>
                                <div class="u21b3basecolor">
                                    <div class="base1">
                                    </div>
                                </div>
                            </div>
                            <div class="typebase1">
                                <div class="mask">
                                </div>
                                <div class="u21b3basecolor">
                                    <div class="base1">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <img anima-src="./img/index-nonside-icclose@2x.png" class="icclose" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="sotamikami">
                            Sota Mikami
                        </div>
                        <div class="u30d9u30c8u30cau30e0u3067u65e5u672cu8a9eu6559u5e2bu3092u3057u3066u3044u307eu3059u3002u4e3bu306bu30a2">
                            ベトナムで日本語教師をしています。主にアクティブラーニングを用いた会話の
                        </div>
                        <img anima-src="./img/index-snapseed@2x.png" class="snapseed" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                    <div class="teacher1">
                        <div class="teacher5">
                            <div class="base">
                                <div class="typebase2">
                                    <div class="mask">
                                    </div>
                                    <div class="u21b3basecolor">
                                        <div class="base1">
                                        </div>
                                    </div>
                                </div>
                                <div class="typebase1">
                                    <div class="mask">
                                    </div>
                                    <div class="u21b3basecolor">
                                        <div class="base1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="u80fdu5e74u73b2u5948">
                                能年 玲奈
                            </div>
                            <div class="u6771u4eacu3067u65e5u672cu8a9eu6559u5e2bu3092u3057u3066u3044u307eu3059u3002n1u304bu3089n">
                                東京で日本語教師をしています。N1からN５まで幅広く担当しています。普段
                            </div>
                        </div>
                        <div class="teacher11">
                            <div class="base">
                                <div class="typebase2">
                                    <div class="mask">
                                    </div>
                                    <div class="u21b3basecolor">
                                        <div class="base1">
                                        </div>
                                    </div>
                                </div>
                                <div class="typebase1">
                                    <div class="mask">
                                    </div>
                                    <div class="u21b3basecolor">
                                        <div class="base1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sotamikami">
                                Sota Mikami
                            </div>
                            <div class="u30d9u30c8u30cau30e0u3067u65e5u672cu8a9eu6559u5e2bu3092u3057u3066u3044u307eu3059u3002u4e3bu306bu30a2">
                                ベトナムで日本語教師をしています。主にアクティブラーニングを用いた会話の
                            </div>
                            <img anima-src="./img/index-snapseed@2x.png" class="snapseed" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <div class="iccheck24px">
                                <img anima-src="./img/index-nonside-iccheck24px@2x.png" class="iccheck24px2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                            <div class="iccheck24px1">
                                <img anima-src="./img/index-nonside-iccheck24px@2x.png" class="iccheck24px2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                        <img anima-src="./img/index-nonside-4b5d527b8c3f73c215848d60fc4e5722400x400 7@2x.png" class="a4b5d527b8c3f73c215848d60fc4e5722400x400" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                    <div class="teacher2">
                        <div class="teacher5">
                            <div class="base">
                                <div class="typebase2">
                                    <div class="mask">
                                    </div>
                                    <div class="u21b3basecolor">
                                        <div class="base1">
                                        </div>
                                    </div>
                                </div>
                                <div class="typebase1">
                                    <div class="mask">
                                    </div>
                                    <div class="u21b3basecolor">
                                        <div class="base1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <img anima-src="./img/index-nonside-icclose@2x.png" class="icclose" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <div class="u6a4bu672cu74b0u5948">
                                橋本 環奈
                            </div>
                            <div class="u30bfu30a4u306eu5927u5b66u3067u50cdu3044u3066u3044u307eu3059u3002u904eu53bbu306bu306fu4e2du56fdu306e">
                                タイの大学で働いています。過去には中国の学校にもいました。
                            </div>
                        </div>
                        <img anima-src="./img/index-qfhnpnpm400x400@2x.png" class="qfhnpnpm400x400" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                    <div class="teacher3">
                        <div class="teacher5">
                            <div class="base">
                                <div class="typebase2">
                                    <div class="mask">
                                    </div>
                                    <div class="u21b3basecolor">
                                        <div class="base1">
                                        </div>
                                    </div>
                                </div>
                                <div class="typebase1">
                                    <div class="mask">
                                    </div>
                                    <div class="u21b3basecolor">
                                        <div class="base1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <img anima-src="./img/index-nonside-icclose@2x.png" class="icclose" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <div class="u80fdu5e74u73b2u5948">
                                能年 玲奈
                            </div>
                            <div class="u6771u4eacu3067u65e5u672cu8a9eu6559u5e2bu3092u3057u3066u3044u307eu3059u3002n1u304bu3089n">
                                東京で日本語教師をしています。N1からN５まで幅広く担当しています。普段
                            </div>
                        </div>
                        <img anima-src="./img/index-nonside-4b5d527b8c3f73c215848d60fc4e5722400x400 7@2x.png" class="a4b5d527b8c3f73c215848d60fc4e5722400x400" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                    <div class="teacher4">
                        <div class="teacher5">
                            <div class="base">
                                <div class="typebase2">
                                    <div class="mask">
                                    </div>
                                    <div class="u21b3basecolor">
                                        <div class="base1">
                                        </div>
                                    </div>
                                </div>
                                <div class="typebase1">
                                    <div class="mask">
                                    </div>
                                    <div class="u21b3basecolor">
                                        <div class="base1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <img anima-src="./img/index-nonside-icclose@2x.png" class="icclose" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <div class="u6a4bu672cu74b0u5948">
                                橋本 環奈
                            </div>
                            <div class="u30bfu30a4u306eu5927u5b66u3067u50cdu3044u3066u3044u307eu3059u3002u904eu53bbu306bu306fu4e2du56fdu306e">
                                タイの大学で働いています。過去には中国の学校にもいました。
                            </div>
                        </div>
                        <img anima-src="./img/index-qfhnpnpm400x400@2x.png" class="qfhnpnpm400x400" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                </div>
                <div class="u304au3059u3059u3081u6559u6750">
                    <div class="u3042u306au305fu3078u306eu304au3059u3059u3081u6559u6750">
                        あなたへのおすすめ教材
                    </div>
                    <div class="group4">
                        <div class="base">
                            <div class="typebase2">
                                <div class="mask">
                                </div>
                                <div class="u21b3basecolor">
                                    <div class="base1">
                                    </div>
                                </div>
                            </div>
                            <div class="typebase1">
                                <div class="mask">
                                </div>
                                <div class="u21b3basecolor">
                                    <div class="base1">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pexelsphoto355302">
                            <div class="mask">
                            </div>
                            <img anima-src="./img/index-pexels-photo-355302.png" class="pexelsphoto3553021" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="u79cbu306eu3053u3068u3070u3092u5b66u3076u3002">
                            秋のことばを学ぶ。
                        </div>
                        <div class="autor">
                            <div class="byu80fdu5e74u73b2u5948">
                                by 能年 玲奈
                            </div>
                            <img anima-src="./img/index-nonside-4b5d527b8c3f73c215848d60fc4e5722400x400@2x.png" class="a4b5d527b8c3f73c215848d60fc4e5722400x400" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="a245600">
                            ¥600 -
                        </div>
                        <div class="u8a55u4fa1">
                            <div class="icstar24px">
                                <img anima-src="./img/my-icstar24px 9@2x.png" class="icstar24px4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                            <div class="icstar24px1">
                                <img anima-src="./img/my-icstar24px 9@2x.png" class="icstar24px4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                            <div class="icstar24px2">
                                <img anima-src="./img/my-icstar24px 9@2x.png" class="icstar24px4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                            <div class="icstar24px3">
                                <img anima-src="./img/my-icstar24px 9@2x.png" class="icstar24px4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                            <div class="icstarhalf24px">
                                <img anima-src="./img/index-nonside-icstarhalf24px@2x.png" class="icstarhalf24px1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                    </div>
                    <div class="group41">
                        <div class="base">
                            <div class="typebase2">
                                <div class="mask">
                                </div>
                                <div class="u21b3basecolor">
                                    <div class="base1">
                                    </div>
                                </div>
                            </div>
                            <div class="typebase1">
                                <div class="mask">
                                </div>
                                <div class="u21b3basecolor">
                                    <div class="base1">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pexelsphoto355302">
                            <div class="mask">
                            </div>
                            <img anima-src="./img/index-pexels-photo-355302.png" class="pexelsphoto3553021" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="u79cbu306eu3053u3068u3070u3092u5b66u3076u3002u65b0u8a9eu5f5950u500bu8ffdu52a0uff01">
                            秋のことばを学ぶ。新語彙50個追加！
                        </div>
                        <div class="autor">
                            <div class="byu80fdu5e74u73b2u5948">
                                by 能年 玲奈
                            </div>
                            <img anima-src="./img/index-nonside-4b5d527b8c3f73c215848d60fc4e5722400x400@2x.png" class="a4b5d527b8c3f73c215848d60fc4e5722400x400" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="a2451000">
                            ¥1,000 -
                        </div>
                        <div class="u8a55u4fa1">
                            <div class="icstar24px">
                                <img anima-src="./img/my-icstar24px 9@2x.png" class="icstar24px4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                            <div class="icstar24px1">
                                <img anima-src="./img/my-icstar24px 9@2x.png" class="icstar24px4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                            <div class="icstar24px2">
                                <img anima-src="./img/my-icstar24px 9@2x.png" class="icstar24px4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                            <div class="icstar24px3">
                                <img anima-src="./img/my-icstar24px 9@2x.png" class="icstar24px4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                            <div class="icstarhalf24px">
                                <img anima-src="./img/index-nonside-icstarhalf24px@2x.png" class="icstarhalf24px1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                    </div>
                    <div class="group42">
                        <div class="base">
                            <div class="typebase2">
                                <div class="mask">
                                </div>
                                <div class="u21b3basecolor">
                                    <div class="base1">
                                    </div>
                                </div>
                            </div>
                            <div class="typebase1">
                                <div class="mask">
                                </div>
                                <div class="u21b3basecolor">
                                    <div class="base1">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pexelsphoto355302">
                            <div class="mask">
                            </div>
                            <img anima-src="./img/index-u30bfu3099u30a6u30f3u30edu30fcu30c8u3099.png" class="u30bfu3099u30a6u30f3u30edu30fcu30c8u3099" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="u30d0u30a4u30c8u5148u3067u4f7fu3046u4f1au8a71u96c6">
                            バイト先で使う会話集
                        </div>
                        <div class="autor">
                            <div class="byu80fdu5e74u73b2u5948">
                                by 能年 玲奈
                            </div>
                            <img anima-src="./img/index-nonside-4b5d527b8c3f73c215848d60fc4e5722400x400@2x.png" class="a4b5d527b8c3f73c215848d60fc4e5722400x400" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="a245500">
                            ¥500 -
                        </div>
                        <div class="u8a55u4fa1">
                            <div class="icstar24px">
                                <img anima-src="./img/my-icstar24px 9@2x.png" class="icstar24px4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                            <div class="icstar24px1">
                                <img anima-src="./img/my-icstar24px 9@2x.png" class="icstar24px4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                            <div class="icstar24px2">
                                <img anima-src="./img/my-icstar24px 9@2x.png" class="icstar24px4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                            <div class="icstar24px3">
                                <img anima-src="./img/my-icstar24px 9@2x.png" class="icstar24px4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                            <div class="icstarhalf24px">
                                <img anima-src="./img/index-nonside-icstarhalf24px@2x.png" class="icstarhalf24px1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="line">
                    <div class="color">
                        <div class="gray85">
                        </div>
                    </div>
                </div>
                <div class="icgrade24px">
                    <img anima-src="./img/index-nonad-icgrade24px@2x.png" class="icgrade24px1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
                <div class="popularvideo">
                    <div class="u4ebau6c17u306eu6559u6750">
                        人気の教材
                    </div>
                </div>
                <div class="homepage">
                    <div class="u30dbu30fcu30e0">
                        ホーム
                    </div>
                    <div class="home">
                        <img anima-src="./img/index-nonad-home@2x.png" class="home1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                </div>
                <div class="u8a2du5b9au306au3069">
                    <div class="icsettings24px">
                        <img anima-src="./img/index-nonad-icsettings24px@2x.png" class="icsettings24px1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                    <div class="u8a2du5b9au7b49">
                        <div class="u8a2du5b9a">
                            設定
                        </div>
                        <div class="u30d8u30ebu30d7">
                            ヘルプ
                        </div>
                        <div class="u30d5u30a3u30fcu30c9u30d0u30c3u30af">
                            フィードバック
                        </div>
                        <div class="ichelp24px">
                            <img anima-src="./img/index-nonad-ichelp24px@2x.png" class="ichelp24px1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="icfeedback24px">
                            <img anima-src="./img/index-nonad-icfeedback24px@2x.png" class="icfeedback24px1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                    </div>
                </div>
                <div class="u5e83u544a">
                    <img anima-src="./img/index-rectangle-3.png" class="rectangle3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="u5e83u544au67a0">
                        広告枠
                    </div>
                    <div class="icclose24px1">
                        <img anima-src="./img/index-nonside-icclose24px@2x.png" class="icclose24px2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                </div>
                <div class="u30d8u30c3u30c0u30fc">
                    <div class="u30d8u30c3u30c0u30fc1">
                        <div class="base">
                            <div class="typebase2">
                                <div class="mask">
                                </div>
                                <div class="u21b3basecolor">
                                    <div class="base1">
                                    </div>
                                </div>
                            </div>
                            <div class="typebase1">
                                <div class="mask">
                                </div>
                                <div class="u21b3basecolor">
                                    <div class="base1">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="icsearch24px">
                            <img anima-src="./img/my-icsearch24px@2x.png" class="icsearch24px1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="u30abu30c6u30b4u30eau30fc">
                            カテゴリー
                        </div>
                        <div class="u30dbu30fcu30e0">
                            ホーム
                        </div>
                        <div class="search">
                            <div class="u6559u6750u3092u691cu7d22u3059u308b">
                                教材を検索する..
                            </div>
                        </div>
                        <img anima-src="./img/my-edopenu30edu30b3u3099u6c34u8272@2x.png" class="edopenu30edu30b3u3099u6c34u8272" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                    <div class="icmenu24px">
                        <img anima-src="./img/my-icmenu24px@2x.png" class="icmenu24px1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                    <div class="menu">
                    </div>
                </div>
                <div class="icaccountcircle24px">
                    <img anima-src="./img/-icaccountcircle24px@2x.png" class="icaccountcircle24px1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
                <div class="rectangle13">
                </div>
                <div class="rectangle14">
                </div>
                <div class="emailu3067u30edu30b0u30a4u30f3u65b0u898fu767bu9332">
                    Emailでログイン/新規登録
                </div>
                <div class="rectangle">
                </div>
                <div class="rectangle1">
                </div>
                <div class="rectangle2">
                </div>
                <div class="u30edu30b0u30a4u30f3u65b0u898fu767bu9332">
                    ログイン/新規登録
                </div>
                <div class="email">
                    email
                </div>
                <div class="password">
                    password
                </div>
                <div class="icclose24px">
                    <img anima-src="./img/index-nonside-icclose24px@2x.png" class="icclose24px1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
            </div>
        </div>
        <!-- Scripts -->
        <script>
            anima_isHidden = function(e) {
                if (!(e instanceof HTMLElement)) return !1;
                if (getComputedStyle(e).display == "none") return !0; else if (e.parentNode && anima_isHidden(e.parentNode)) return !0;
                return !1;
            };
            anima_loadAsyncSrcForTag = function(tag) {
                var elements = document.getElementsByTagName(tag);
                var toLoad = [];
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var src = e.getAttribute("src");
                    var loaded = (src != undefined && src.length > 0 && src != 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
                    if (loaded) continue;
                    var asyncSrc = e.getAttribute("anima-src");
                    if (asyncSrc == undefined || asyncSrc.length == 0) continue;
                    if (anima_isHidden(e)) continue;
                    toLoad.push(e);
                }
                toLoad.sort(function(a, b) {
                    return anima_getTop(a) - anima_getTop(b);
                });
                for (var i = 0; i < toLoad.length; i++) {
                    var e = toLoad[i];
                    var asyncSrc = e.getAttribute("anima-src");
                    e.setAttribute("src", asyncSrc);
                }
            };
            anima_pauseHiddenVideos = function(tag) {
                var elements = document.getElementsByTagName("video");
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var isPlaying = !!(e.currentTime > 0 && !e.paused && !e.ended && e.readyState > 2);
                    var isHidden = anima_isHidden(e);
                    if (!isPlaying && !isHidden && e.getAttribute("autoplay") == "autoplay") {
                        e.play();
                    } else if (isPlaying && isHidden) {
                        e.pause();
                    }
                }
            };
            anima_loadAsyncSrc = function(tag) {
                anima_loadAsyncSrcForTag("img");
                anima_loadAsyncSrcForTag("iframe");
                anima_loadAsyncSrcForTag("video");
                anima_pauseHiddenVideos();
            };
            var anima_getTop = function(e) {
                var top = 0;
                do {
                    top += e.offsetTop || 0;
                    e = e.offsetParent;
                } while (e);
                return top;
            };
            anima_loadAsyncSrc();
            anima_old_onResize = window.onresize;
            anima_new_onResize = undefined;
            anima_updateOnResize = function() {
                if (anima_new_onResize == undefined || window.onresize != anima_new_onResize) {
                    anima_new_onResize = function(x) {
                        if (anima_old_onResize != undefined) anima_old_onResize(x);
                        anima_loadAsyncSrc();
                    };
                    window.onresize = anima_new_onResize;
                    setTimeout(function() {
                        anima_updateOnResize();
                    }, 3000);
                }
            };
            anima_updateOnResize();
            setTimeout(function() {
                anima_loadAsyncSrc();
            }, 200);
        </script>
        <!-- End of Scripts -->
    </body>
</html>
