<!DOCTYPE html>
<html>
    <head>
        <link href="./img/favicon.png" rel="shortcut icon"/>
        <meta charset="utf-8"/>
        <meta content="width=1440px, maximum-scale=1.0" name="viewport"/>
        <link href="./css/screen12.css" rel="stylesheet" type="text/css"/>
        <meta content="Launchpad by Anima" name="author">
        </meta>
    </head>
    <body style="margin: 0;
 background: rgba(255, 255, 255, 1.0);">
        <input id="anPageName" name="page" type="hidden" value="screen12"/>
        <div class="screen12">
            <div style="width: 1440px; height: 100%; position:relative; margin:auto;">
                <div class="rectangle9">
                </div>
                <img anima-src="./img/-edopenu30edu30b3u3099u6c34u8272@2x.png" class="edopenu30edu30b3u3099u6c34u8272" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="u30d5u30c3u30bfu30fc">
                    <div class="menus">
                        <div class="edopenu306bu3064u3044u3066">
                            EDOPEN について
                        </div>
                        <div class="u304au77e5u3089u305b">
                            お知らせ
                        </div>
                        <div class="qa">
                            Q&amp;A
                        </div>
                        <div class="edopenu306eu4f7fu3044u65b9">
                            EDOPEN の使い方
                        </div>
                        <div class="u5e83u544au51fau7a3f">
                            広告出稿
                        </div>
                        <div class="u904bu55b6">
                            運営
                        </div>
                    </div>
                    <div class="u4e0bu90e8">
                        <div class="a2512018edopen">
                            © 2018. EDOPEN
                        </div>
                        <div class="u30d7u30e9u30a4u30d0u30b7u30fcu30ddu30eau30b7u30fc">
                            プライバシーポリシー
                        </div>
                        <div class="u5229u7528u898fu7d04">
                            利用規約
                        </div>
                        <div class="sns">
                            <div class="tw">
                                <div class="group3">
                                    <img anima-src="./img/my-oval@2x.png" class="oval" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                                <img anima-src="./img/my-stroke-89@2x.png" class="stroke89" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                            <div class="fb">
                                <img anima-src="./img/my-oval@2x.png" class="oval" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <img anima-src="./img/my-stroke-87@2x.png" class="stroke87" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            </div>
                            <div class="is">
                                <img anima-src="./img/my-oval@2x.png" class="oval" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                <div class="insta">
                                    <img anima-src="./img/my-stroke-38@2x.png" class="stroke38" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    <img anima-src="./img/my-stroke-40@2x.png" class="stroke40" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    <img anima-src="./img/my-stroke-42@2x.png" class="stroke42" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="rectangle5">
                    </div>
                    <div class="rectangle51">
                    </div>
                </div>
                <div class="rectangle12">
                </div>
                <div class="u8cfcu5165u30dcu30bfu30f3">
                    <div class="rectangle7">
                    </div>
                    <div class="u66f4u65b0u5b8cu4e86">
                        更新完了
                    </div>
                </div>
                <div class="u8cfcu5165u30dcu30bfu30f31">
                    <div class="rectangle7">
                    </div>
                    <div class="u66f4u65b0u305bu305au306bu3001u3082u3069u308b">
                        更新せずに、もどる
                    </div>
                </div>
                <div class="u6559u6750u306eu60c5u5831u3092u7de8u96c6u3059u308b">
                    教材の情報を編集する
                </div>
                <div class="u6559u6750u30a4u30e1u30fcu30b8">
                    教材イメージ
                </div>
                <div class="u6700u59274u679au307eu3067u30a2u30c3u30d7u30edu30fcu30c9u3067u304du307eu3059">
                    最大4枚までアップロードできます
                </div>
                <div class="u6559u6750u540d">
                    教材名
                </div>
                <div class="u51fau54c1u3092u524au9664u3059u308b">
                    出品を削除する
                </div>
                <img anima-src="./img/-path-3.png" class="path3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <img anima-src="./img/-path-3 5.png" class="path31" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="path">
                </div>
                <div class="u79cbu306eu3053u3068u3070u3092u5b66u3076u3002u65b0u8a9eu5f5950u500bu8ffdu52a0uff01">
                    秋のことばを学ぶ。新語彙50個追加！
                </div>
                <div class="u8ca9u58f2u4fa1u683c">
                    販売価格
                </div>
                <div class="a245">
                    ¥
                </div>
                <img anima-src="./img/-path-3 5.png" class="path32" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="path1">
                </div>
                <div class="u4f8buff09300">
                    例）300
                </div>
                <div class="u6559u6750u306eu8a73u7d30u8aacu660e">
                    教材の詳細説明
                </div>
                <div class="path2">
                </div>
                <div class="u3082u3046u3059u3050u79cbu3067u3059u306du3002u305du308du305du308du57fau790eu306eu52c9u5f37u3082u843d">
                    もうすぐ秋ですね。そろそろ基礎の勉強も落ち着き、語彙力を高める時期に入る学校が多いのではないのでしょうか。
                    <br/>
                    この期にフィールドワークにでも出かけながら、秋のことばを増やしましょう！
                    <br/>
                    <br/>
                    想定生徒：N3まで修了済み
                    <br/>
                    <br/>
                    本教材は、以下が含まれます。
                    <br/>
                    ①会話例を載せた語彙シート
                    <br/>
                    ②フィールドワークで使える語彙チェックシート
                    <br/>
                    ③確認テスト
                    <br/>
                    <br/>
                    誤字・脱字等あればご報告ください。
                    <br/>
                    よろしくお願いします。
                </div>
                <div class="u5546u54c1u5199u771f">
                    <div class="mask">
                    </div>
                    <img anima-src="./img/my-pexels-photo-355302.png" class="pexelsphoto355302" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
                <div class="mainimg">
                    <div class="mask">
                    </div>
                    <img anima-src="./img/my-mainimg.png" class="mainimg1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
                <div class="a5cef9227855e42f99c1610db4d5e474bdece1a1c">
                    <div class="mask">
                    </div>
                    <img anima-src="./img/my-5cef9227855e42f99c1610db4d5e474bdece1a1c@2x.png" class="a5cef9227855e42f99c1610db4d5e474bdece1a1c1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="rectangle8">
                    </div>
                </div>
                <div class="c42c88b74a89215d4ef9fa381811ddc9">
                    <div class="mask">
                    </div>
                    <img anima-src="./img/my-c42c88b74a89215d4ef9fa381811ddc9@2x.png" class="c42c88b74a89215d4ef9fa381811ddc91" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
                <div class="rectangle">
                </div>
                <div class="iccameraalt24px">
                    <img anima-src="./img/-iccameraalt24px@2x.png" class="iccameraalt24px4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
                <div class="iccameraalt24px1">
                    <img anima-src="./img/-iccameraalt24px@2x.png" class="iccameraalt24px4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
                <div class="iccameraalt24px2">
                    <img anima-src="./img/-iccameraalt24px@2x.png" class="iccameraalt24px4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
                <div class="iccameraalt24px3">
                    <img anima-src="./img/-iccameraalt24px@2x.png" class="iccameraalt24px4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
            </div>
        </div>
        <!-- Scripts -->
        <script>
            anima_isHidden = function(e) {
                if (!(e instanceof HTMLElement)) return !1;
                if (getComputedStyle(e).display == "none") return !0; else if (e.parentNode && anima_isHidden(e.parentNode)) return !0;
                return !1;
            };
            anima_loadAsyncSrcForTag = function(tag) {
                var elements = document.getElementsByTagName(tag);
                var toLoad = [];
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var src = e.getAttribute("src");
                    var loaded = (src != undefined && src.length > 0 && src != 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
                    if (loaded) continue;
                    var asyncSrc = e.getAttribute("anima-src");
                    if (asyncSrc == undefined || asyncSrc.length == 0) continue;
                    if (anima_isHidden(e)) continue;
                    toLoad.push(e);
                }
                toLoad.sort(function(a, b) {
                    return anima_getTop(a) - anima_getTop(b);
                });
                for (var i = 0; i < toLoad.length; i++) {
                    var e = toLoad[i];
                    var asyncSrc = e.getAttribute("anima-src");
                    e.setAttribute("src", asyncSrc);
                }
            };
            anima_pauseHiddenVideos = function(tag) {
                var elements = document.getElementsByTagName("video");
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var isPlaying = !!(e.currentTime > 0 && !e.paused && !e.ended && e.readyState > 2);
                    var isHidden = anima_isHidden(e);
                    if (!isPlaying && !isHidden && e.getAttribute("autoplay") == "autoplay") {
                        e.play();
                    } else if (isPlaying && isHidden) {
                        e.pause();
                    }
                }
            };
            anima_loadAsyncSrc = function(tag) {
                anima_loadAsyncSrcForTag("img");
                anima_loadAsyncSrcForTag("iframe");
                anima_loadAsyncSrcForTag("video");
                anima_pauseHiddenVideos();
            };
            var anima_getTop = function(e) {
                var top = 0;
                do {
                    top += e.offsetTop || 0;
                    e = e.offsetParent;
                } while (e);
                return top;
            };
            anima_loadAsyncSrc();
            anima_old_onResize = window.onresize;
            anima_new_onResize = undefined;
            anima_updateOnResize = function() {
                if (anima_new_onResize == undefined || window.onresize != anima_new_onResize) {
                    anima_new_onResize = function(x) {
                        if (anima_old_onResize != undefined) anima_old_onResize(x);
                        anima_loadAsyncSrc();
                    };
                    window.onresize = anima_new_onResize;
                    setTimeout(function() {
                        anima_updateOnResize();
                    }, 3000);
                }
            };
            anima_updateOnResize();
            setTimeout(function() {
                anima_loadAsyncSrc();
            }, 200);
        </script>
        <!-- End of Scripts -->
    </body>
</html>
