<!DOCTYPE html>
<html>
    <head>
        <link href="./img/favicon.png" rel="shortcut icon"/>
        <meta charset="utf-8"/>
        <meta content="width=1440px, maximum-scale=1.0" name="viewport"/>
        <link href="./css/screen5.css" rel="stylesheet" type="text/css"/>
        <meta content="Launchpad by Anima" name="author">
        </meta>
    </head>
    <body style="margin: 0;
 background: rgba(255, 255, 255, 1.0);">
        <input id="anPageName" name="page" type="hidden" value="screen5"/>
        <div class="screen5">
            <div style="width: 1440px; height: 100%; position:relative; margin:auto;">
                <div class="bass">
                </div>
                <div class="u7530u4e2du82b1u5b50">
                    田中 花子
                </div>
                <div class="u6771u4eacu3067u65e5u672cu8a9eu6559u5e2bu3092u3057u3066u3044u307eu3059u3002n1u304bu3089n">
                    東京で日本語教師をしています。N1からN５まで幅広く担当しています。普段は西新宿にいますが、たまに港区にも出没します。
                </div>
                <div class="a4b5d527b8c3f73c215848d60fc4e5722400x400">
                    <img anima-src="./img/-4b5d527b8c3f73c215848d60fc4e5722400x400 31@2x.png" class="a4b5d527b8c3f73c215848d60fc4e5722400x4001" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
                <div class="u30d8u30c3u30c0u30fc">
                    <div class="u30d8u30c3u30c0u30fc1">
                        <div class="base">
                            <div class="typebase2">
                                <div class="mask">
                                </div>
                                <div class="u21b3basecolor">
                                    <div class="base1">
                                    </div>
                                </div>
                            </div>
                            <div class="typebase1">
                                <div class="mask">
                                </div>
                                <div class="u21b3basecolor">
                                    <div class="base1">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="icsearch24px">
                            <img anima-src="./img/my-icsearch24px@2x.png" class="icsearch24px1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="u30abu30c6u30b4u30eau30fc">
                            カテゴリー
                        </div>
                        <div class="u30d5u30a9u30edu30fcu30eau30b9u30c8">
                            フォローリスト
                        </div>
                        <div class="u30dbu30fcu30e0">
                            ホーム
                        </div>
                        <div class="notification">
                            <img anima-src="./img/my-notification@2x.png" class="notification1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="search">
                            <div class="u6559u6750u3092u691cu7d22u3059u308b">
                                教材を検索する..
                            </div>
                        </div>
                        <div class="notifications">
                            <img anima-src="./img/my-notifications@2x.png" class="notifications1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="icexpandmore24px">
                            <img anima-src="./img/my-icexpandmore24px@2x.png" class="icexpandmore24px1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <img anima-src="./img/my-edopenu30edu30b3u3099u6c34u8272@2x.png" class="edopenu30edu30b3u3099u6c34u8272" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="overridesavatar">
                            <img anima-src="./img/my-mask@2x.png" class="mask" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="./img/my-avatar@2x.png" class="avatar" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="group2">
                            <div class="rectangle">
                            </div>
                            <div class="group">
                                <div class="icbackup24px">
                                    <img anima-src="./img/my-icbackup24px@2x.png" class="icbackup24px1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                                <div class="u6559u6750u3092u6295u7a3fu3059u308b">
                                    教材を投稿する
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="icmenu24px">
                        <img anima-src="./img/my-icmenu24px@2x.png" class="icmenu24px1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                    <div class="menu">
                    </div>
                </div>
                <div class="u30d5u30a9u30edu30fcu30dcu30bfu30f3">
                    <div class="rectangle3">
                    </div>
                    <div class="u30d5u30a9u30edu30fcu30dcu30bfu30f32">
                        <div class="u4fddu5b58">
                            保存
                        </div>
                    </div>
                </div>
                <div class="u30d5u30a9u30edu30fcu30dcu30bfu30f31">
                    <div class="rectangle3">
                    </div>
                    <div class="u30d5u30a9u30edu30fcu30dcu30bfu30f32">
                        <div class="u30adu30e3u30f3u30bbu30eb">
                            キャンセル
                        </div>
                    </div>
                </div>
                <img anima-src="./img/-oval-3@2x.png" class="oval3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="iccameraalt24px">
                    <img anima-src="./img/-iccameraalt24px@2x.png" class="iccameraalt24px1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
            </div>
        </div>
        <!-- Scripts -->
        <script>
            anima_isHidden = function(e) {
                if (!(e instanceof HTMLElement)) return !1;
                if (getComputedStyle(e).display == "none") return !0; else if (e.parentNode && anima_isHidden(e.parentNode)) return !0;
                return !1;
            };
            anima_loadAsyncSrcForTag = function(tag) {
                var elements = document.getElementsByTagName(tag);
                var toLoad = [];
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var src = e.getAttribute("src");
                    var loaded = (src != undefined && src.length > 0 && src != 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
                    if (loaded) continue;
                    var asyncSrc = e.getAttribute("anima-src");
                    if (asyncSrc == undefined || asyncSrc.length == 0) continue;
                    if (anima_isHidden(e)) continue;
                    toLoad.push(e);
                }
                toLoad.sort(function(a, b) {
                    return anima_getTop(a) - anima_getTop(b);
                });
                for (var i = 0; i < toLoad.length; i++) {
                    var e = toLoad[i];
                    var asyncSrc = e.getAttribute("anima-src");
                    e.setAttribute("src", asyncSrc);
                }
            };
            anima_pauseHiddenVideos = function(tag) {
                var elements = document.getElementsByTagName("video");
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var isPlaying = !!(e.currentTime > 0 && !e.paused && !e.ended && e.readyState > 2);
                    var isHidden = anima_isHidden(e);
                    if (!isPlaying && !isHidden && e.getAttribute("autoplay") == "autoplay") {
                        e.play();
                    } else if (isPlaying && isHidden) {
                        e.pause();
                    }
                }
            };
            anima_loadAsyncSrc = function(tag) {
                anima_loadAsyncSrcForTag("img");
                anima_loadAsyncSrcForTag("iframe");
                anima_loadAsyncSrcForTag("video");
                anima_pauseHiddenVideos();
            };
            var anima_getTop = function(e) {
                var top = 0;
                do {
                    top += e.offsetTop || 0;
                    e = e.offsetParent;
                } while (e);
                return top;
            };
            anima_loadAsyncSrc();
            anima_old_onResize = window.onresize;
            anima_new_onResize = undefined;
            anima_updateOnResize = function() {
                if (anima_new_onResize == undefined || window.onresize != anima_new_onResize) {
                    anima_new_onResize = function(x) {
                        if (anima_old_onResize != undefined) anima_old_onResize(x);
                        anima_loadAsyncSrc();
                    };
                    window.onresize = anima_new_onResize;
                    setTimeout(function() {
                        anima_updateOnResize();
                    }, 3000);
                }
            };
            anima_updateOnResize();
            setTimeout(function() {
                anima_loadAsyncSrc();
            }, 200);
        </script>
        <!-- End of Scripts -->
    </body>
</html>
