<!DOCTYPE html>
<html>
    <head>
        <link href="./img/favicon.png" rel="shortcut icon"/>
        <meta charset="utf-8"/>
        <meta content="width=1440px, maximum-scale=1.0" name="viewport"/>
        <link href="./css/screen4.css" rel="stylesheet" type="text/css"/>
        <meta content="Launchpad by Anima" name="author">
        </meta>
    </head>
    <body style="margin: 0;
 background: rgba(255, 255, 255, 1.0);">
        <input id="anPageName" name="page" type="hidden" value="screen4"/>
        <div class="screen4">
            <div style="width: 1440px; height: 100%; position:relative; margin:auto;">
                <div class="u30d8u30c3u30c0u30fc">
                    <div class="u30d8u30c3u30c0u30fc1">
                        <div class="base">
                            <div class="typebase2">
                                <div class="mask">
                                </div>
                                <div class="u21b3basecolor">
                                    <div class="base1">
                                    </div>
                                </div>
                            </div>
                            <div class="typebase1">
                                <div class="mask">
                                </div>
                                <div class="u21b3basecolor">
                                    <div class="base1">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="icsearch24px">
                            <img anima-src="./img/my-icsearch24px@2x.png" class="icsearch24px1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="u30abu30c6u30b4u30eau30fc">
                            カテゴリー
                        </div>
                        <div class="u30d5u30a9u30edu30fcu30eau30b9u30c8">
                            フォローリスト
                        </div>
                        <div class="u30dbu30fcu30e0">
                            ホーム
                        </div>
                        <div class="notification">
                            <img anima-src="./img/my-notification@2x.png" class="notification1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="search">
                            <div class="u6559u6750u3092u691cu7d22u3059u308b">
                                教材を検索する..
                            </div>
                        </div>
                        <div class="notifications">
                            <img anima-src="./img/my-notifications@2x.png" class="notifications1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="icexpandmore24px">
                            <img anima-src="./img/my-icexpandmore24px@2x.png" class="icexpandmore24px1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <img anima-src="./img/my-edopenu30edu30b3u3099u6c34u8272@2x.png" class="edopenu30edu30b3u3099u6c34u8272" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="overridesavatar">
                            <img anima-src="./img/my-mask@2x.png" class="mask" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="./img/my-avatar@2x.png" class="avatar" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="group2">
                            <div class="rectangle">
                            </div>
                            <div class="group">
                                <div class="icbackup24px">
                                    <img anima-src="./img/my-icbackup24px@2x.png" class="icbackup24px1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                </div>
                                <div class="u6559u6750u3092u6295u7a3fu3059u308b">
                                    教材を投稿する
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="icmenu24px">
                        <img anima-src="./img/my-icmenu24px@2x.png" class="icmenu24px1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                    <div class="menu">
                    </div>
                </div>
                <div class="u30d5u30a9u30edu30fcu30dcu30bfu30f3">
                    <div class="rectangle3">
                    </div>
                    <div class="u30d5u30a9u30edu30fcu30dcu30bfu30f37">
                        <div class="u7de8u96c6">
                            編集
                        </div>
                    </div>
                </div>
                <div class="rectangle2">
                </div>
                <div class="u8a2du5b9a">
                    設定
                </div>
                <div class="email">
                    Email
                </div>
                <div class="email1">
                    Email
                </div>
                <div class="a12345678gmailcom">
                    12345678@gmail.com
                </div>
                <div class="u30d5u30a9u30edu30fcu30dcu30bfu30f31">
                    <div class="rectangle3">
                    </div>
                    <div class="u30d5u30a9u30edu30fcu30dcu30bfu30f37">
                        <div class="u30a2u30abu30a6u30f3u30c8u524au9664">
                            アカウント削除
                        </div>
                    </div>
                </div>
                <div class="u30bbu30adu30e5u30eau30c6u30a3">
                    セキュリティ
                </div>
                <div class="u9000u4f1a">
                    退会
                </div>
                <div class="u652fu6255u3044u60c5u5831">
                    支払い情報
                </div>
                <div class="u30d5u30a9u30edu30fcu30dcu30bfu30f32">
                    <div class="rectangle3">
                    </div>
                    <div class="u30d5u30a9u30edu30fcu30dcu30bfu30f37">
                        <div class="u524au9664">
                            削除
                        </div>
                    </div>
                </div>
                <div class="u5916u90e8u9023u643a">
                    外部連携
                </div>
                <div class="twitter">
                    Twitter
                </div>
                <div class="sotamikami">
                    @sota_mikami
                </div>
                <div class="u30d5u30a9u30edu30fcu30dcu30bfu30f33">
                    <div class="rectangle3">
                    </div>
                    <div class="u30d5u30a9u30edu30fcu30dcu30bfu30f37">
                        <div class="u524au9664">
                            削除
                        </div>
                    </div>
                </div>
                <div class="u30d5u30a9u30edu30fcu30dcu30bfu30f34">
                    <div class="rectangle3">
                    </div>
                    <div class="u30d5u30a9u30edu30fcu30dcu30bfu30f37">
                        <div class="u767bu9332">
                            登録
                        </div>
                    </div>
                </div>
                <div class="u30d5u30a9u30edu30fcu30dcu30bfu30f35">
                    <div class="rectangle3">
                    </div>
                    <div class="u30d5u30a9u30edu30fcu30dcu30bfu30f37">
                        <div class="u30adu30e3u30f3u30bbu30eb">
                            キャンセル
                        </div>
                    </div>
                </div>
                <div class="facebook">
                    facebook
                </div>
                <div class="soutamikami157">
                    /souta.mikami.157
                </div>
                <div class="u30d5u30a9u30edu30fcu30dcu30bfu30f36">
                    <div class="rectangle3">
                    </div>
                    <div class="u30d5u30a9u30edu30fcu30dcu30bfu30f37">
                        <div class="u898bu305bu308b">
                            見せる
                        </div>
                    </div>
                    <div class="u30d5u30a9u30edu30fcu30dcu30bfu30f311">
                        <div class="u898bu305bu306au3044">
                            見せない
                        </div>
                    </div>
                </div>
                <div class="snsu306eu30eau30f3u30afu3092u898bu305bu308bu898bu305bu306au3044">
                    SNSのリンクを見せる/見せない
                </div>
                <div class="rectangle16">
                </div>
                <div class="rectangle161">
                </div>
                <div class="rectangle162">
                </div>
                <div class="u30abu30fcu30c9u756au53f7">
                    カード番号
                </div>
                <div class="u6709u52b9u671fu9650">
                    有効期限
                </div>
                <div class="u30bbu30adu30e5u30eau30c6u30a3u30fcu30b3u30fcu30c9">
                    セキュリティーコード
                </div>
            </div>
        </div>
        <!-- Scripts -->
        <script>
            anima_isHidden = function(e) {
                if (!(e instanceof HTMLElement)) return !1;
                if (getComputedStyle(e).display == "none") return !0; else if (e.parentNode && anima_isHidden(e.parentNode)) return !0;
                return !1;
            };
            anima_loadAsyncSrcForTag = function(tag) {
                var elements = document.getElementsByTagName(tag);
                var toLoad = [];
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var src = e.getAttribute("src");
                    var loaded = (src != undefined && src.length > 0 && src != 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
                    if (loaded) continue;
                    var asyncSrc = e.getAttribute("anima-src");
                    if (asyncSrc == undefined || asyncSrc.length == 0) continue;
                    if (anima_isHidden(e)) continue;
                    toLoad.push(e);
                }
                toLoad.sort(function(a, b) {
                    return anima_getTop(a) - anima_getTop(b);
                });
                for (var i = 0; i < toLoad.length; i++) {
                    var e = toLoad[i];
                    var asyncSrc = e.getAttribute("anima-src");
                    e.setAttribute("src", asyncSrc);
                }
            };
            anima_pauseHiddenVideos = function(tag) {
                var elements = document.getElementsByTagName("video");
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var isPlaying = !!(e.currentTime > 0 && !e.paused && !e.ended && e.readyState > 2);
                    var isHidden = anima_isHidden(e);
                    if (!isPlaying && !isHidden && e.getAttribute("autoplay") == "autoplay") {
                        e.play();
                    } else if (isPlaying && isHidden) {
                        e.pause();
                    }
                }
            };
            anima_loadAsyncSrc = function(tag) {
                anima_loadAsyncSrcForTag("img");
                anima_loadAsyncSrcForTag("iframe");
                anima_loadAsyncSrcForTag("video");
                anima_pauseHiddenVideos();
            };
            var anima_getTop = function(e) {
                var top = 0;
                do {
                    top += e.offsetTop || 0;
                    e = e.offsetParent;
                } while (e);
                return top;
            };
            anima_loadAsyncSrc();
            anima_old_onResize = window.onresize;
            anima_new_onResize = undefined;
            anima_updateOnResize = function() {
                if (anima_new_onResize == undefined || window.onresize != anima_new_onResize) {
                    anima_new_onResize = function(x) {
                        if (anima_old_onResize != undefined) anima_old_onResize(x);
                        anima_loadAsyncSrc();
                    };
                    window.onresize = anima_new_onResize;
                    setTimeout(function() {
                        anima_updateOnResize();
                    }, 3000);
                }
            };
            anima_updateOnResize();
            setTimeout(function() {
                anima_loadAsyncSrc();
            }, 200);
        </script>
        <!-- End of Scripts -->
    </body>
</html>
